﻿@model Faradise.Design.Controllers.Service.Models.Authentication.AuthenticationModel

    @{
        Layout = null;
    }
    <h2>Вход на сайт</h2>

    <a asp-action="Register" asp-controller="AuthSwagger">Регистрация в Swagger</a>

    <form asp-action="Login" asp-controller="admin" method="post">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group">
                <label asp-for="Name">Введите логин</label>
                <input type="text" asp-for="Name" name="Name" />
                <span asp-validation-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Введите пароль</label>
                <input asp-for="Password" name="Password" type="password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn" />
            </div>
        </div>
    </form>
