﻿@model TolokaTasksModel
@{
    ViewData["Title"] = "Толока";
}

<div class="row border rounded vertical-align m-2 p-2 category">

    <div class="col-lg-1">
        <b>ID</b>
    </div>

    <div class="col-lg-2">
        <b>Тип</b>
    </div>

    <div class="col-lg-1">
        <b>Статус</b>
    </div>

    <div class="col-lg-2">
        <b>Дата создания</b>
    </div>

    <div class="col-lg-1">
        <b>Количество</b>
    </div>

    <div class="col-lg-1">
        <b>Выполнено</b>
    </div>

    <div class="col-lg-1">
        <b>Отчет</b>
    </div>

</div>

@foreach (var m in Model.Tasks)
{
<div id="@m.Id" class="row border rounded vertical-align m-2 p-2 category">

    <div class="col-lg-1">
        @m.Id
    </div>

    <div class="col-lg-2">
        @m.Type.ToString()
    </div>

    <div class="col-lg-1">
        @m.Status.ToString()
    </div>

    <div class="col-lg-2">
        @m.Created.ToString("dd.MM.yyyy HH:mm")
    </div>

    <div class="col-lg-1">
        @m.SegmentsCount.ToString()
    </div>

    <div class="col-lg-1">
        @m.ProcessedSegmentsCount.ToString()
    </div>

    <div class="col-lg-1">
        <a href="@m.ReportUrl" class="btn btn-warning">Скачать</a>
    </div>

    @using (Html.BeginForm("TolokaSegments", "toloka", new { }, FormMethod.Get, null, new { }))
    {
        @Html.Hidden("taskId", m.Id)
        <input type="submit" class="btn btn-outline-success" value="Открыть" />
    }

    @using (Html.BeginForm("DeleteTask", "toloka", new { taskId = m.Id }, FormMethod.Post, null, new { }))
    {
        <input type="submit" class="btn btn-outline-success" value="Удалить" />
    }

</div>
}
