﻿@model TolokaSegmentsModel
@{
    ViewData["Title"] = "Толока";
}

<div class="row border rounded vertical-align m-2 p-2 category">

    <div class="col-lg-1">
        <b>ID</b>
    </div>

    <div class="col-lg-2">
        <b>Тип</b>
    </div>

    <div class="col-lg-1">
        <b>Статус</b>
    </div>

    <div class="col-lg-1">
        <b>Заново</b>
    </div>

</div>

@foreach (var m in Model.Segments)
{
<div id="@m.Id" class="row border rounded vertical-align m-2 p-2 category">

    <div class="col-lg-1">
        @m.Id
    </div>

    <div class="col-lg-2">
        @m.Type.ToString()
    </div>

    <div class="col-lg-1">
        @m.Status.ToString()
    </div>

    @using (Html.BeginForm("RestartSegment", "toloka", new { segmentId = m.Id, taskId = Model.TaskId }, FormMethod.Post, null, new { }))
    {
    <input type="submit" class="btn btn-outline-success" value="Обновить" />
    }

</div>
}
