﻿@model CreatePromoCodeModel
@{
    ViewData["Title"] = "Создать промокод";
}


@using (Html.BeginForm("Create", "PromoCode", FormMethod.Post))
{
<div class="border rounded p-2 m-2">
    <div class="row m-2">
        <div class="col-lg-2"><b>Имя:</b></div>
        <div class="col-lg-2">@Html.TextBox("Name")</div>
    </div>

    <div class="row m-2">
        <div class="col-lg-2"><b>Тип:</b></div>
        <div class="col-lg-2">@Html.DropDownListFor(model => model.PromoCodeType, new SelectList(Enum.GetValues(typeof(PromoCodeType))), new { @id = "dropdwonId" })</div>
    </div>

    <div class="row m-2">
        <div class="col-lg-2"><b>Количество:</b></div>
        <div class="col-lg-2">@Html.TextBox("Count", "", new { @id = "Count" })</div>
    </div>

    <div class="row m-2">
        <div class="col-lg-3"><b>Минимальная стоимость:</b></div>
        <div class="col-lg-2">@Html.TextBox("MinPrice")</div>
    </div>

    <div class="row m-2">
        <div class="col-lg-2"><b>Скидка %:</b></div>
        <div class="col-lg-2">@Html.TextBox("Percents")</div>
    </div>

    <div class="row m-2">
        <div class="col-lg-2"><b>Скидка руб:</b></div>
        <div class="col-lg-2">@Html.TextBox("Absolute")</div>
    </div>

    <div class="row m-2">
        <div class="col-lg-2"><b>Начало работы:</b></div>
        <div class="col-lg-2"><input type="date" id="StartDate" name="StartDate" value="@Model.StartDate" /></div>
    </div>

    <div class="row m-2">
        <div class="col-lg-2"><b>Работает до:</b></div>
        <div class="col-lg-2"><input type="date" id="ExpireDate" name="ExpireDate" value="@Model.StartDate" /></div>
    </div>

    <input type="button" onclick="validateForm(this.form)" value="Сохранить" class="btn btn-outline-primary m-2" />
</div>
}


    <script>
        $("#dropdwonId").change(function () {       // This will fire when the dropdown value will get changed
            var type = $(this).val(); //Append Id To URL
            if (type == "Named") {
                $('#Count')[0].disabled = true;
            }
            else {
                $('#Count')[0].disabled = false;
            }
        });

        function validateForm(form) {
            if ($('#Percents')[0].value > 0 && $('#Absolute')[0].value > 0)
            {
               alert("Нельзя одновременно сделать прокод с процентами и абсолютной скидкой");
            }
            else if ($('#Percents')[0].value > 0 || $('#Absolute')[0].value > 0) {
                var xmlhttp = getXmlHttp(); // Создаём объект XMLHTTP
                xmlhttp.open('POST', '/promocode/check-promo-code', true); // Открываем асинхронное соединение
                xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
                xmlhttp.send("name=" + encodeURIComponent($('#Name')[0].value)); // Отправляем POST-запрос
                xmlhttp.onreadystatechange = function () { // Ждём ответа от сервера
                    if (xmlhttp.readyState == 4) { // Ответ пришёл
                        if (xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                            if (xmlhttp.responseText === 'true') {
                                alert("Имя занято");
                            }
                            else {
                                form.submit();
                            }
                        }
                    }
                };
            }
            else
            {
                alert("Введите скидку в процентах или рублях")
            }
        };

        function getXmlHttp() {
            var xmlhttp;
            try {
                xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                try {
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (E) {
                    xmlhttp = false;
                }
            }
            if (!xmlhttp && typeof XMLHttpRequest != 'undefined') {
                xmlhttp = new XMLHttpRequest();
            }
            return xmlhttp;
        }
    </script>