﻿@model PromoCode
@{
    ViewData["Title"] = "Поиск";
}

<div class="row rounded vertical-align m-2 p-2 category">
    @using (Html.BeginForm("FindPromoCode", "PromoCode", FormMethod.Post))
    {
        <input type="text" id="code" name="code" />
        <input type="button" onclick="validateForm(this.form)" value="Найти промокод" />
    }
</div>

@if (Model == null)
{
    <b>Промокод не найден</b>
}
else
{
<div class="border rounded p-2 m-2">
    <div class="row m-2">
        <div class="col-lg-2"><b>Имя:</b></div>
        <div class="col-lg-2">@Model.ExportName</div>
    </div>

    <div class="row m-2">
        <div class="col-lg-2"><b>Тип:</b></div>
        <div class="col-lg-2">@Model.CodeType.ToString()</div>
    </div>

    <div class="row m-2">
        <div class="col-lg-2"><b>Использован:</b></div>
        <div class="col-lg-2">@(Model.Used ? "Да" : "Нет")</div>
    </div>

    <div class="row m-2">
        <div class="col-lg-2"><b>Скидка:</b></div>
        <div class="col-lg-2">@Model.PercentDiscount %</div>
    </div>

    <div class="row m-2">
        <div class="col-lg-2"><b>Начало работы:</b></div>
        <div class="col-lg-2">@Model.StartDate.ToString("dd.MM.yyyy")</div>
    </div>

    <div class="row m-2">
        <div class="col-lg-2"><b>Работает до:</b></div>
        <div class="col-lg-2">@Model.ExpireDate.ToString("dd.MM.yyyy")</div>
    </div>
</div>
}

<script>
    function validateForm(form) {
        if ($('#code')[0].value != '') {
            form.submit();
        }
        else {
            alert("Введите код")
        }
    };
</script>