﻿@model PromoCodeListModel
@{
    ViewData["Title"] = "Промокоды";
}

<div class="row border rounded vertical-align m-2 p-2 category">

    <div class="col-lg-2">
        <b>Промокод</b>
    </div>

    <div class="col-lg-1">
        <b>Тип</b>
    </div>

    <div class="col-lg-1">
        <b>Количество</b>
    </div>

    <div class="col-lg-2">
        <b>Работает с</b>
    </div>

    <div class="col-lg-2">
        <b>Работает до</b>
    </div>

    <div class="col-lg-2">
        <b> мин стоимость (руб) </b>
    </div>

    <div class="col-lg-1">
        <b> скидки</b>
    </div>

</div>

@foreach (var m in Model.PromoCodes)
{
<div class="row border rounded vertical-align m-2 p-2 category">

    <div class="col-lg-2">
        @m.Name
    </div>

    <div class="col-lg-1">
        @m.PromoCodeType.ToString()
    </div>

    <div class="col-lg-1">
        @m.CountUses.ToString() / @m.Count.ToString()
    </div>

    <div class="col-lg-2">
        @m.StartDate.ToString("dd.MM.yyyy HH:mm")
    </div>

    <div class="col-lg-2">
        @m.ExpireDate.ToString("dd.MM.yyyy HH:mm")
    </div>

    <div class="col-lg-2">
        от @m.MinPrice
    </div>

    @if (m.Absolute > 0)
    {
        <div class="col-lg-1">
            @m.Absolute р
        </div>
    }
    else
    {
        <div class="col-lg-1">
            @m.Percents %
        </div>
    }

    <div class="col-lg-1">
        @Html.ActionLink("Выгрузить", "GetPromoCodesCsv", "PromoCode", new { code = m.Name }, new { @class = "btn btn-outline-primary" })
    </div>

</div>
}

    <div class="row rounded vertical-align m-2 p-2 category">
        @using (Html.BeginForm("FindPromoCode", "PromoCode", FormMethod.Post))
        {
            <input type="text" id="code" name="code" />
            <input type="button" onclick="validateForm(this.form)" value="Найти промокод" />
        }

        <div class="col-lg-1">
            @Html.ActionLink("Создать", "CreatePromoCode", "PromoCode", new { }, new { @class = "btn btn-success" })
        </div>
    </div>


    <script>
        function validateForm(form) {
            if ($('#code')[0].value != '') {
                form.submit();
            }
            else {
                alert("Введите код")
            }
        };
    </script>