﻿@model ModifyProductCompilationModel

@{
    ViewData["Title"] = "Сформировать фид по списку продуктов";
}

@using (Html.BeginForm("ModifyProductCompilation", "Product"))
{
    @Html.Hidden("id", Model.Id)

    <div class="border rounded p-2 m-2">
        <div class="row m-2">
            <div class="col-lg-1"><b>Имя:</b></div>
            <div class="col-lg-2">@Html.TextBox("name", Model.Name)</div>
        </div>
        <div class="row m-2">
            <div class="col-lg-1"><b>Продукты:</b></div>
            <div class="col-lg-2">@Html.TextAreaFor(Model => Model.ProductString, new { style = "width: 700px; height:400px;" })</div>
        </div>
        <br />
        <input type="submit" value="Сохранить" class="btn btn-outline-primary m-2" />
    </div>
}