﻿@model Faradise.Design.Models.Admin.Product.ProductImages

@{
    ViewData["Title"] = Model.Name;
}

@using (Html.BeginForm("SetImagesPriority", "Product", new {}, FormMethod.Post, null, new {}))
{
    @Html.HiddenFor(x => x.ProductId);

    <div class="row p-2 m-2 vertical-align">
        <div class="col-lg-1 text-left">
            <b><span>ID</span></b>
        </div>
        <div class="col-lg-3 text-left">
            <span>@Model.ProductId</span>
        </div>
    </div>

    <div class="row p-2 m-2 vertical-align">
        <div class="col-lg-1 text-left">
            <b><span>Товар</span></b>
        </div>
        <div class="col-lg-10 text-left">
            <span>@Model.Name</span>
        </div>
    </div>

    @for (var i = 0; i < Model.Images.Length; i++)
     {
         @Html.HiddenFor(x => x.Images[i].ImageId)

         <div class="row border rounded p-2 m-2">
             <div class="col-lg-3">
                 <img src="@Model.Images[i].ImageUrl" style="width: 150px;"/>
             </div>
             <div class="col-lg-3">
                 @Html.TextBoxFor(x => x.Images[i].Priority)
             </div>
         </div>
     }

    <input type="submit" class="btn-outline-primary p-2 m-2"/>
}



