﻿@model Faradise.Design.Admin.Models.CategoryParameters.CreateParameterModel
@{
    ViewData["Title"] = "Параметр";
}

<div class="container-fluid">

    @using (Html.BeginForm("UpdateParameter", "CategoryParameters"))
    {
        @Html.HiddenFor(model => model.Parameter.Id)
        <div class="border rounded p-2 m-2">
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Имя:*</b>
                </div>
                <div class="col-lg-1">
                    @Html.TextBoxFor(model => model.Parameter.Name)
                </div>
            </div>
            <br />
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Синонимы через запятую</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.Parameter.Synonyms, Model.Parameter.Synonyms.Aggregate((source, seed) => string.Concat(seed,",",source)))
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Тип</b>
                </div>
                <div class="col-lg-2">
                    @Html.DropDownListFor(model => model.Parameter.Type, Model.Types)
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Параметр для всех категорий</b>
                </div>
                <div class="col-lg-2">
                    @Html.CheckBoxFor(model => model.Parameter.GlobalParameter)
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Категории</b>
                </div>
                <div class="col-lg-2">
                    @Html.DropDownListFor(x => x.Parameter.SelectedCategories, Model.Categories,
                        new
                        {
                            @class = "js-multiple",
                            multiple = "multiple"
                        })
                </div>
            </div>
            <br />
        </div>
        <br />
        <input type="submit" value="Обновить" class="btn btn-outline-primary m-2" />
        @Html.ActionLink("Назад", "ParametersList", "CategoryParameters")
    }
</div>

<script>
    $(document).ready(function() {
        $('.js-multiple').select2();
    });
</script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>