﻿@model Faradise.Design.Models.CategoryParameters.ParameterInfo[]
@{
    ViewData["Title"] = "Параметры категорий";
}

<div class="container-fluid">
    @using (Html.BeginForm("DownloadReport", "CategoryParameters", null, FormMethod.Post, null, new { @class = "col-md-10" }))
    {
        <div class="row m-2">
            <div class="col-lg-2">
                <input type="submit" value="Загрузить отчёт" class="btn btn-outline-primary" />
            </div>
        </div>
    }
</div>


<div class="container-fluid">
    @using (Html.BeginForm("CreateParameterModel", "CategoryParameters", null, FormMethod.Post, null, new { @class = "col-md-10" }))
    {
        <div class="row m-2">
            <div class="col-lg-1">
                <b>Имя:</b>
            </div>
            <div class="col-lg-2">
                @Html.TextBox("name")
            </div>
            <div class="col-lg-2">
                <input type="submit" value="Новый параметр" class="btn btn-outline-primary" />

            </div>
        </div>
    }
</div>

<div class="container-fluid">
    <div class="border rounded p-2 m-16">

        <div class="row border rounded p-2 m-2 vertical-align">

            <div class="col-lg-2 text-center">
                <b>Параметр</b>
            </div>

            <div class="col-lg-2 text-center">
                <b>Синонимы</b>
            </div>

            <div class="col-lg-2 text-center">
                <b>Тип</b>
            </div>
            <div class="col-lg-2 text-center">
                <b>Глобальный</b>
            </div>
            <div class="col-lg-2 text-center">
                <b>Категории</b>
            </div>
            <div class="col-lg-1 text-center">

            </div>
            <div class="col-lg-1 text-center">

            </div>
        </div>

        @foreach (var parameter in Model)
        {
            <div class="row border rounded p-2 m-2 vertical-align">

                <div class="col-lg-2 text-center">
                    @parameter.Name
                </div>

                <div class="col-lg-2 text-center">
                    @foreach (var synonym in parameter.Synonyms)
                    {
                        <p>@synonym</p>
                    }
                </div>

                <div class="col-lg-2 text-center">
                    @parameter.Type
                </div>

                <div class="col-lg-2 text-center">
                    @parameter.GlobalParameter
                </div>

                <div class="col-lg-2 text-center">
                    @foreach (var category in parameter.Categories)
                    {
                        <p>@category.CategoryName</p>
                    }
                </div>
                <div class="col-lg-1 text-center">
                    @using (Html.BeginForm("EditParameter", "CategoryParameters", new { id = parameter.Id }, FormMethod.Post, null, new { @class = "col-md-10" }))
                    {
                        <input type="submit" class="btn btn-outline-info" value="Изменить" />
                    }
                </div>
                <div class="col-lg-1 text-center">
                    @using (Html.BeginForm("DeleteParameter", "CategoryParameters", new { id = parameter.Id }, FormMethod.Post, null, new { @class = "col-md-10" }))
                    {
                        <input type="submit" class="btn btn-outline-danger" value="Удалить" />
                    }
                </div>
            </div>
        }
    </div>
</div>