﻿@using System.Globalization
@model Faradise.Design.Controllers.API.Models.Banner.BannerListModel

@{
    ViewData["Title"] = "Баннеры";
}

<div class="container-fluid">
    @using (Html.BeginForm("CreateBannerModel", "Banner", null, FormMethod.Post, null, new {@class = "col-md-10"}))
    {
        <div class="row m-2">
            <div class="col-lg-1">
                <b>Имя:</b>
            </div>
            <div class="col-lg-2">
                @Html.TextBox("name")
            </div>
            <div class="col-lg-2">
                <input type="submit" value="Создать новый" class="btn btn-outline-primary"/>

            </div>
        </div>
    }
</div>

<div class="container-fluid">
    <div class="border rounded p-2 m-16">

        <div class="row border rounded p-2 m-2 vertical-align">

            <div class="col-lg-1 text-center">
                <b>Приоритет</b>
            </div>

            <div class="col-lg-3">
                <b>Имя</b>
            </div>

            <div class="col-lg-1">
                <b>Включен</b>
            </div>

            <div class="col-lg-1">
                <b>Обновлен</b>
            </div>

        </div>

        @foreach (var banner in Model.Banners)
        {
            <div class="row border rounded p-2 m-2 vertical-align">

                <div class="col-lg-1 text-center">
                    <b>@banner.Order</b>
                </div>

                <div class="col-lg-3">
                    @banner.Name
                </div>

                <div class="col-lg-1">
                    @if (banner.Active)
                    {
                        <span class="badge badge-success">Да</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Нет</span>
                    }
                </div>
                <div class="col-lg-1">
                    @banner.Updated.ToString("g")
                </div>
                <div class="col-lg-2 text-center">
                    @Html.ActionLink("Изменить", "EditBanner", "Banner", new {id = banner.Id}, new {@class = "btn btn-outline-primary"})
                </div>

                <div class="col-lg-2 text-center">
                    @using (Html.BeginForm("DeleteBanner", "Banner", new {id = banner.Id}, FormMethod.Post, null, new {@class = "col-md-10"}))
                    {
                        <input type="submit" class="btn btn-outline-danger" value="Удалить"/>
                    }
                </div>

                <div class="col-lg-2 text-center">
                    @if (banner.Active)
                    {
                        using (Html.BeginForm("ToggleBannerState", "Banner", new {id = banner.Id}, FormMethod.Post, null, new {@class = "col-md-10"}))
                        {
                            <input type="submit" class="btn btn-danger" value="Выключить"/>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("ToggleBannerState", "Banner", new {id = banner.Id}, FormMethod.Post, null, new {@class = "col-md-10"}))
                        {
                            <input type="submit" class="btn btn-success" value="Включить"/>
                        }
                    }
                </div>

            </div>
        }
    </div>
</div>