﻿@model Faradise.Design.Controllers.API.Models.Banner.BannerModel
@{
    ViewData["Title"] = "Баннеры";
}

<div class="container-fluid">
    <article class="note">
        <h1>Контент баннера указывается только в одной из трех вариаций </h1>
        <article class="note-element">
            <ul>
                <li>
                    <span>Название сборки</span>
                </li>
            </ul>
        </article>
        <article class="note-element">
            <ul>
                <li>
                    <span>Id товара</span>
                </li>
            </ul>
        </article>
        <article class="note-element">
            <ul>
                <li>
                    <span>Id категории</span>
                </li>
                <li>
                    <span>Цена от</span>
                </li>
                <li>
                    <span>Цена до</span>
                </li>
                <li>
                    <span>Id партнера</span>
                </li>
            </ul>
        </article>
    </article>

    @using (Html.BeginForm("CreateBanner", "Banner"))
    {
        <div class="border rounded p-2 m-2">
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Имя:*</b>
                </div>
                <div class="col-lg-1">
                    @Html.TextBoxFor(model => model.Name)
                </div>
            </div>
            <br/>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Url изображения:*</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.PictureWeb, null, new {id = "imagePreview"})
                </div>
            </div>
            <div id="url-preview"></div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Url мобильного изображения:*</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.PictureMobile, null, new {id = "mobileImagePreview"})
                </div>
            </div>
            <div id="mobile-url-preview"></div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Url мобильного background изображения:*</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.PictureMobileBackground, null, new {id = "mobileBackgroundImagePreview"})
                </div>
            </div>
            <div id="mobile-background-url-preview"></div>
            <br/>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Название сборки:</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.CompilationName)
                </div>
            </div>
            <br/>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Id товара:</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.ProductId, null, new {@type = "number"})
                </div>
            </div>
            <br/>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Id категории:</b>
                </div>
                <div class="col-lg-2">
                    @Html.DropDownListFor(x => x.CategoryId, (SelectList) ViewData["Categories"])
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Цена от:</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.PriceFrom, null, new {@type = "number"})
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Цена до:</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.PriceTo, null, new {@type = "number"})
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Id партнера:</b>
                </div>
                <div class="col-lg-2">
                    @Html.DropDownListFor(x => x.BrandId, (SelectList) ViewData["Brands"])
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Тип сортировки:</b>
                </div>
                <div class="col-lg-2">
                    @Html.DropDownListFor(x => x.Ordering, new SelectList(Enum.GetValues(typeof(FilterOrdering))))
                </div>
            </div>
            <div class="row m-1">`
                <div class="col-lg-3">
                    <b>Фильтр скидок:</b>
                </div>
                <div class="col-lg-2">
                    @Html.CheckBox("DiscountFilter", Model.DiscountFilter.GetValueOrDefault())
                </div>
            </div>
            <br/>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Url</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.Url)
                </div>
            </div>
            <br/>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Активный:</b>
                </div>
                <div class="col-lg-2">
                    @Html.CheckBoxFor(model => model.Active)
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Приоритет:</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.Order, null, new {@type = "number"})
                </div>
            </div>
        </div>
        <br/>
        <input type="submit" value="Добавить" class="btn btn-outline-primary m-2"/>
        @Html.ActionLink("Назад", "BannerList", "Banner")
    }
</div>

<style>
    .note {
        margin: 0;
        padding: .3rem;
        background-color: #eee;
        font: 1rem 'Fira Sans', sans-serif;
    }

    .note > h1,
    .note-element {
        margin: .5rem;
        padding: .3rem;
        font-size: 1.2rem;
    }

    .note-element { background: right/contain content-box border-box no-repeat white; }

    .note-element > h2,
    .note-element > p {
        margin: .2rem;
        font-size: 1rem;
    }
</style>

<script>
    $(function() {
        $('#imagePreview').on('change',
            function() {

                $.ajax({
                    url: '/picture-preview/',
                    data: { url: $('#imagePreview').val() },
                    success: function(data) {
                        $("#url-preview").replaceWith(data);
                    }
                })

            });
    })

    $(function() {
        $('#mobileImagePreview').on('change',
            function() {
                $.ajax({
                    url: '/picture-preview/',
                    data: { url: $('#mobileImagePreview').val() },
                    success: function(data) {
                        $("#mobile-url-preview").replaceWith(data);
                    }
                })

            });
    })

    $(function() {
        $('#mobileBackgroundImagePreview').on('change',
            function() {
                $.ajax({
                    url: '/picture-preview/',
                    data: { url: $('#mobileBackgroundImagePreview').val() },
                    success: function(data) {
                        $("#mobile-background-url-preview").replaceWith(data);
                    }
                })

            });
    })

</script>