﻿@model Faradise.Design.Controllers.API.Models.Banner.BannerModel
@{
    ViewData["Title"] = "Баннеры";
}

<div class="container-fluid">
    @using (Html.BeginForm("UpdateBanner", "Banner"))
    {
        @Html.HiddenFor(model => model.Id)
        <div class="border rounded p-2 m-2">
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Имя:*</b>
                </div>
                <div class="col-lg-1">
                    @Html.TextBoxFor(model => model.Name, Model.Name)
                </div>
            </div>
            <br />
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Url изображения:*</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.PictureWeb, Model.PictureWeb)
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Url мобильного изображения:*</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.PictureMobile, Model.PictureMobile)
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Url мобильного background изображения:*</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.PictureMobileBackground, Model.PictureMobileBackground)
                </div>
            </div>
            <br />
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Название сборки:</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.CompilationName, Model.CompilationName)
                </div>
            </div>
            <br />
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Id товара:</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.ProductId, Model.ProductId?.ToString() ?? "", new { @type = "number" })
                </div>
            </div>
            <br />
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Id категории:</b>
                </div>
                <div class="col-lg-2">
                    @Html.DropDownListFor(x => x.CategoryId, (SelectList)ViewData["Categories"])
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Цена от:</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.PriceFrom, Model.PriceFrom.ToString() ?? "", new { @type = "number" })
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Цена до:</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.PriceTo, Model.PriceTo.ToString() ?? "", new { @type = "number" })
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Id партнера:</b>
                </div>
                <div class="col-lg-2">
                    @Html.DropDownListFor(x => x.BrandId, (SelectList)ViewData["Brands"])
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Тип сортировки:</b>
                </div>
                <div class="col-lg-2">
                    @Html.DropDownListFor(x => x.Ordering, new SelectList(Enum.GetValues(typeof(FilterOrdering))))
                </div>
            </div>
            <div class="row m-1">`
                <div class="col-lg-3">
                    <b>Фильтр скидок:</b>
                </div>
                <div class="col-lg-2">
                    @Html.CheckBox("DiscountFilter", Model.DiscountFilter.GetValueOrDefault())
                </div>
            </div>
            <br/>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Url</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.Url)
                </div>
            </div>
            <br />
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Активный:</b>
                </div>
                <div class="col-lg-2">
                    @Html.CheckBoxFor(model => model.Active)
                </div>
            </div>
            <div class="row m-1">
                <div class="col-lg-3">
                    <b>Приоритет:</b>
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.Order, Model.Order.ToString(), new { @type = "number" })
                </div>
            </div>
        </div>
        <br />
        <input type="submit" value="Сохранить" class="btn btn-outline-primary m-2" />
        @Html.ActionLink("Назад", "BannerList", "Banner")
    }
</div>

