﻿@model List<MailingResponseModel>

@{
    ViewData["Title"] = "Результаты";
}


<div class="border rounded p-2 m-1">

    <div class="row border rounded p-2 m-2 vertical-align">

        <div class="col-lg-1 text-center">
            <b><span>ID</span></b>
        </div>

        <div class="col-lg-3 text-center">
            <b><span>Телефон</span></b>
        </div>

        <div class="col-lg-2 text-center">
            <b><span>Статус</span></b>
        </div>

    </div>
    @if (Model != null)
    {
        @foreach (var m in Model)
        {
            <div class="row border rounded p-2 m-2 vertical-align">

                <div class="col-lg-1 text-center">
                    <b><span>@m.Id</span></b>
                </div>

                <div class="col-lg-3 text-center">
                    <span>@m.Phone</span>
                </div>

                <div class="col-lg-2 text-center">
                    @switch (m.Status)
                    {
                        case "200":
                            <span>Отправлено</span>
                            break;
                        case "user-not-found":
                            <span>Пользователь не найден</span>
                            break;
                        case "phone-not-valid":
                            <span>Номер неверный</span>
                            break;
                    }
                </div>

            </div>
        }
    }

    <a class="nav-link btn btn-success col-lg-1 p-2 m-2" href="@Url.Action("SmsMailing", "Client")">Назад</a>
</div>