﻿
@{
    ViewData["Title"] = "Рассылка смс";
}


<div class="card m-2">
    @using (Html.BeginForm("SendMails", "Client", FormMethod.Post))
    {
        <div class="form-group">
            <label class="col-md-4 control-lbl">Id пользователей через запятую:</label>
            <div class="col-md-8">
                <input type="text" name="ids" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-lbl">Сообщение:</label>
            <div class="col-md-8">
                <input type="text" name="messageSms" class="form-control" />
            </div>
        </div>
        <input type="submit" value="Отправить" />
    }
</div>
