﻿@model SaleModel
@{
    ViewData["Title"] = "Распродажа по всему магазину";
}

<div class="container-fluid">

    @using (Html.BeginForm("UpdateMarketplaceSale", "adminsale"))
    {
        @Html.Hidden("Id", Model.Id)
        @Html.Hidden("IsActive", Model.IsActive)

    <div class="border rounded p-2 m-2">
        <div class="row m-2">
            <div class="col-lg-1"><b>Имя:</b></div>
            <div class="col-lg-2">@Html.TextBox("Name", Model.Name)</div>
        </div>
        <div class="row m-2">
            <div class="col-lg-1"><b>Скидка:</b></div>
            <div class="col-lg-2">@Html.TextBox("Percents", Model.Percents, new { @type = "number" })</div>
        </div>

        <div class="row m-2">
            <div class="col-lg-1"><b>Описание:</b></div>
            <div class="col-lg-2">@Html.TextArea("Description", Model.Description, new { style = "width: 400px; height:100px;" })</div>
        </div>
    </div>
        <br />
        <input type="submit" value="Сохранить" class="btn btn-outline-primary m-2" />
    }
</div>

