﻿@model CompaniesSaleModifyModel

@{
    ViewData["Title"] = "Распродажа по списку брендов";
}

<div class="container-fluid">
@using (Html.BeginForm("UpdateCompaniesSale", "adminsale"))
{
    <div class="border rounded p-2 m-2">
        @Html.Hidden("Id", Model.Id)
        @Html.Hidden("IsActive", Model.IsActive)

        <div class="row m-2">
            <div class="col-lg-1"><b>Имя:</b></div>
            <div class="col-lg-2">@Html.TextBox("Name", Model.Name)</div>
        </div>

        <div class="row m-2">
            <div class="col-lg-1"><b>Скидка:</b></div>
            <div class="col-lg-2">@Html.TextBox("Percent", Model.Percent, new { @type = "number" })</div>
        </div>

        <div class="row m-2">
            <div class="col-lg-1"><b>Описание:</b></div>
            <div class="col-lg-2">@Html.TextArea("Description", Model.Description, new { style = "width: 400px; height:100px;" })</div>
        </div>

        <br />

        <input type="submit" value="Сохранить" class="btn btn-outline-primary m-2" />

        <br />

        <div class="row border rounded p-2 m-2 vertical-align">
            <div class="col-lg-4 text-left">
                <b><span>Имя</span></b>
            </div>

            <div class="col-lg-2 text-center">
                <b><span>Выбрано</span></b>
            </div>
        </div>

        @for (var i = 0; i < Model.Companies.Length; i++)
    {

        @Html.HiddenFor(x => Model.Companies[i].Id)
        @Html.HiddenFor(x => Model.Companies[i].Name)

        <div class="row border rounded p-2 m-2 vertical-align">
            <div class="col-lg-4 text-left">
                <span>@Model.Companies[i].Name</span>
            </div>

            <div class="col-lg-2 text-center">
                @Html.CheckBoxFor(x => Model.Companies[i].IsSelected)
            </div>
        </div>
}
    </div>
}
    </div>


