﻿@model SaleModel
@{
    ViewData["Title"] = "Пустая распродажа";
}

<div class="container-fluid">

    <div class="border rounded p-2 m-2">
        <div class="row m-2">
            <div class="col-lg-1"><b>Имя:</b></div>
            <div class="col-lg-2">@Model.Name</div>
        </div>
    </div>

    <div class="border rounded p-2 m-2">
        <div class="row m-2">
            <div class="col-lg-12"><b>Распродажа пустая. Какой её сделать?</b></div>
        </div>
        <div class="row m-2">

            @Html.ActionLink("По списку продуктов", "ProductsSale", "adminsale", Model, new { @class = "btn btn-outline-primary" })
            <br />
            @Html.ActionLink("По категориям", "CategorySale", "adminsale", Model, new { @class = "btn btn-outline-primary" })
            <br />
            @Html.ActionLink("По брендам", "CompaniesSale", "adminsale", Model, new { @class = "btn btn-outline-primary" })
            <br />
            @Html.ActionLink("По всему магазину", "AllMarketplaceSale", "adminsale", Model, new { @class = "btn btn-outline-primary" })
            <br />
        </div>
    </div>
</div>

