﻿@using Faradise.Design.Controllers.API.Models.Admin;
@model SaleShortModel[]

@{
    ViewData["Title"] = "Скидки";
}

<div class="container-fluid">
    <div class="border rounded p-2 m-16">

        <div class="row border rounded p-2 m-2 vertical-align">

            <div class="col-lg-1 text-center">
                <b>ID</b>
            </div>

            <div class="col-lg-3">
                <b>Имя</b>
            </div>

            <div class="col-lg-1">
                <b>Включена</b>
            </div>

        </div>

        @foreach (var sale in Model)
    {
        <div class="row border rounded p-2 m-2 vertical-align">

            <div class="col-lg-1 text-center">
                <b>@sale.Id</b>
            </div>

            <div class="col-lg-3">
                @sale.Name
            </div>

            <div class="col-lg-1">
                @Html.Partial("BoolBadge", sale.IsActive)
            </div>

            <div class="col-lg-2 text-center">
                @Html.ActionLink("Открыть", "GetSale", "adminsale", new { id = sale.Id }, new { @class = "btn btn-outline-primary" })
            </div>

            <div class="col-lg-2 text-center">
                @using (Html.BeginForm("DeleteSale", "adminsale", new { id = sale.Id }, FormMethod.Post, null, new { @class = "col-md-10" }))
                {
                    <input type="submit" class="btn btn-outline-danger" value="Удалить" />
                }
            </div>

            <div class="col-lg-2 text-center">
                @if (sale.IsActive)
                {
                    @using (Html.BeginForm("DeactivateSale", "adminsale", new { id = sale.Id }, FormMethod.Post, null, new { @class = "col-md-10" }))
                    {
                        <input type="submit" class="btn btn-danger" value="Выключить" />
                    }
                }
                else
                {
                    @using (Html.BeginForm("ActivateSale", "adminsale", new { id = sale.Id }, FormMethod.Post, null, new { @class = "col-md-10" }))
                    {
                        <input type="submit" class="btn btn-success" value="Включить" />
                    }
                }
            </div>

            </div>
            }

            <div class="row border rounded p-2 m-2 vertical-align">
                <div class="col-lg-3 text-center">
                    @using (Html.BeginForm("CreateSaleTemp", "adminsale", null , FormMethod.Post, null, new { @class = "col-md-10" }))
                    {
                        <input type="submit" class="btn btn-outline-success" value="Создать новую" />
                    }
                </div>
            </div>
        </div>
</div>

