﻿@using Faradise.Design.Controllers.API.Models.Admin;
@model BadgeShortModel[]

@{
    ViewData["Title"] = "Шилды";
}

<div class="container-fluid">
    <div class="border rounded p-2 m-16">

        <div class="row border rounded p-2 m-2 vertical-align">

            <div class="col-lg-1 text-center">
                <b>ID</b>
            </div>

            <div class="col-lg-3">
                <b>Имя</b>
            </div>

            <div class="col-lg-1">
                <b>Включен</b>
            </div>

        </div>

        @foreach (var badge in Model)
    {
        <div class="row border rounded p-2 m-2 vertical-align">

            <div class="col-lg-1 text-center">
                <b>@badge.Id</b>
            </div>

            <div class="col-lg-3">
                @badge.Name
            </div>

            <div class="col-lg-1">
                @Html.Partial("BoolBadge", badge.IsActive)
            </div>

            <div class="col-lg-2 text-center">
                @Html.ActionLink("Открыть", "GetBadge", "adminbadge", new { id = badge.Id }, new { @class = "btn btn-outline-primary" })
            </div>

            <div class="col-lg-2 text-center">
                @using (Html.BeginForm("DeleteBadge", "adminbadge", new { id = badge.Id }, FormMethod.Post, null, new { @class = "col-md-10" }))
                {
                    <input type="submit" class="btn btn-outline-danger" value="Удалить" />
                }
            </div>

            <div class="col-lg-2 text-center">
                @if (badge.IsActive)
                {
                    @using (Html.BeginForm("DeactivateBadge", "adminbadge", new { id = badge.Id }, FormMethod.Post, null, new { @class = "col-md-10" }))
                    {
                        <input type="submit" class="btn btn-danger" value="Выключить" />
                    }
                }
                else
                {
                    @using (Html.BeginForm("ActivateBadge", "adminbadge", new { id = badge.Id }, FormMethod.Post, null, new { @class = "col-md-10" }))
                    {
                        <input type="submit" class="btn btn-success" value="Включить" />
                    }
                }
            </div>

            </div>
            }

            <div class="row border rounded p-2 m-2 vertical-align">
                <div class="col-lg-3 text-center">
                    @using (Html.BeginForm("CreateBadgeTemp", "adminbadge", null , FormMethod.Post, null, new { @class = "col-md-10" }))
                    {
                        <input type="submit" class="btn btn-outline-success" value="Создать новый" />
                    }
                </div>
            </div>
        </div>
</div>

