﻿@{
    ViewData["Title"] = "Новый шилд";
}

<div class="container-fluid">
    @using (Html.BeginForm("CreateBadge", "adminbadge"))
    {
        <div class="border rounded p-2 m-2">
            <div class="row m-2">
                <div class="col-lg-1"><b>Имя:</b></div>
                <div class="col-lg-2">@Html.TextBox("name", "Новый шилд")</div>
            </div>
        </div>

        <br />
        <input type="submit" value="Создать" class="btn btn-outline-primary m-2" />
    }
</div>

