﻿@model BadgeModel
@{
    ViewData["Title"] = "Пустой шилд";
}

<div class="container-fluid">

    <div class="border rounded p-2 m-2">
        <div class="row m-2">
            <div class="col-lg-1"><b>Имя:</b></div>
            <div class="col-lg-2">@Model.Name</div>
        </div>
    </div>

    <div class="border rounded p-2 m-2">
        <div class="row m-2">
            <div class="col-lg-12"><b>Шилд пустой. Каким его сделать?</b></div>
        </div>
        <div class="row m-2">

            @Html.ActionLink("По списку продуктов", "ProductsBadge", "adminbadge", Model, new { @class = "btn btn-outline-primary" })
            <br />
            @Html.ActionLink("По категориям", "CategoryBadge", "adminbadge", Model, new { @class = "btn btn-outline-primary" })
            <br />
            @Html.ActionLink("По брендам", "CompaniesBadge", "adminbadge", Model, new { @class = "btn btn-outline-primary" })
            <br />
            @Html.ActionLink("По всему магазину", "AllMarketplaceBadge", "adminbadge", Model, new { @class = "btn btn-outline-primary" })
            <br />
        </div>
    </div>
</div>

