﻿@model AdminARProductModel

@{
    ViewData["Title"] = "Информация";
}

<style type="text/css">
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
</style>

<div class="container-fluid m-1">
    <div class="card">
        <h5 class="card-header">@Model.Name</h5>
        <br />

        <div id="carousel" class="carousel slide" data-ride="carousel" style="width: 360px;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="width: 100%; max-height: 300px; object-fit: contain" class="d-block w-100" src="@Model.Render" alt="@Model.Render">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Faradise ID</b></div>
            <div class="col-lg-2">@Model.FaradiseProductId</div>
        </div>
        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Артикуль</b></div>
            <div class="col-lg-2">@Model.VendorCode</div>
        </div>
        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Плоскость</b></div>
            @if (@Model.Vertiacal)
        {
            <div class="col-lg-2">Горизонтальная</div>
    }
    else
    {
        <div class="col-lg-2">Вертикальная</div>
}
        </div>
        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Цвет</b></div>
            <div class="col-lg-2">@Model.Color</div>
        </div>
        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Id цвета Faradise</b></div>
            <div class="col-lg-2">@Model.FaradiseColorId</div>
        </div>

        <br />

        <div class="card">
            <h5 class="card-header">Связь с нашей базой</h5>
            <br />
            <div class="card card-body">
            <div class="row p-1 m-2">
            <div class="col-lg-2"><b>ProductID</b></div>
            @if (@Model.ProductId.HasValue)
            {
                <div class="col-lg-2">@Model.ProductId</div>
            }
            else
            {
                <div class="col-lg-2">не задан</div>
            }
            @using (Html.BeginForm("SetArToProduct", "AdminARProduct", FormMethod.Post))
            {
            <input type="hidden" value="@Model.Id" name="arId" />
            <input type="number" name="productId" />
            <input type="submit" value="Изменить" />
            }
            </div>

            <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Имя продукта</b></div>
            @if (!string.IsNullOrEmpty(Model.ProductName))
            {
                <div class="col-lg-2">@Model.ProductName</div>
            }
            else
            {
               <div class="col-lg-2">не задан</div>
            }
            </div>
            </div>
        </div>

        <br />
        @if (Model.IosSCN != null)
    {
        <a class="btn btn-info" data-toggle="collapse" href="#collapse_iosSCN" role="button" aria-expanded="false" aria-controls="collapse_iosSCN">
            Данные IOS + SCN
        </a>
        <div class="collapse" id="collapse_iosSCN">
            <h5 class="card-header">IOS + SCN</h5>
            <div class="card card-body">
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Модель</b></div>
                    <div class="col-lg-10">@Model.IosSCN.GeometryUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Diffuse</b></div>
                    <div class="col-lg-10">@Model.IosSCN.DiffuseUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Normal</b></div>
                    <div class="col-lg-10">@Model.IosSCN.NormalUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Metalic</b></div>
                    <div class="col-lg-10">@Model.IosSCN.MetalicUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Roughness</b></div>
                    <div class="col-lg-10">@Model.IosSCN.RoughnessUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Metallic Roughnes</b></div>
                    <div class="col-lg-10">@Model.IosSCN.MetallicRoughnessUrl</div>
                </div>
            </div>
        </div>
}

        <br />
        @if (Model.IosBFM != null)
    {
        <a class="btn btn-info" data-toggle="collapse" href="#collapse_iosBFM" role="button" aria-expanded="false" aria-controls="collapse_iosBFM">
            Данные IOS + BFM
        </a>
        <div class="collapse" id="collapse_iosBFM">
            <h5 class="card-header">IOS + BFM</h5>
            <div class="card card-body">
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Модель</b></div>
                    <div class="col-lg-10">@Model.IosBFM.GeometryUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Diffuse</b></div>
                    <div class="col-lg-10">@Model.IosBFM.DiffuseUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Normal</b></div>
                    <div class="col-lg-10">@Model.IosBFM.NormalUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Metalic</b></div>
                    <div class="col-lg-10">@Model.IosBFM.MetalicUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Roughness</b></div>
                    <div class="col-lg-10">@Model.IosBFM.RoughnessUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Metallic Roughnes</b></div>
                    <div class="col-lg-10">@Model.IosBFM.MetallicRoughnessUrl</div>
                </div>
            </div>
        </div>
}

        <br />
        @if (Model.AndroidBFM != null)
    {
        <a class="btn btn-info" data-toggle="collapse" href="#collapse_AndroidBFM" role="button" aria-expanded="false" aria-controls="collapse_AndroidBFM">
            Данные Adndroid + BFM
        </a>
        <div class="collapse" id="collapse_AndroidBFM">
            <h5 class="card-header">Android + BFM</h5>
            <div class="card card-body">
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Модель</b></div>
                    <div class="col-lg-10">@Model.AndroidBFM.GeometryUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Diffuse</b></div>
                    <div class="col-lg-10">@Model.AndroidBFM.DiffuseUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Normal</b></div>
                    <div class="col-lg-10">@Model.AndroidBFM.NormalUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Metalic</b></div>
                    <div class="col-lg-10">@Model.AndroidBFM.MetalicUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Roughness</b></div>
                    <div class="col-lg-10">@Model.AndroidBFM.RoughnessUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Metallic Roughnes</b></div>
                    <div class="col-lg-10">@Model.AndroidBFM.MetallicRoughnessUrl</div>
                </div>
            </div>
        </div>
}

        <br />
        @if (Model.AndroidSFB != null)
    {
        <a class="btn btn-info" data-toggle="collapse" href="#collapse_AndroidSFB" role="button" aria-expanded="false" aria-controls="collapse_AndroidSFB">
            Данные Adndroid + SFB
        </a>
        <div class="collapse" id="collapse_AndroidSFB">
            <h5 class="card-header">Android + SFB</h5>
            <div class="card card-body">
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Модель</b></div>
                    <div class="col-lg-10">@Model.AndroidSFB.GeometryUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Diffuse</b></div>
                    <div class="col-lg-10">@Model.AndroidSFB.DiffuseUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Normal</b></div>
                    <div class="col-lg-10">@Model.AndroidSFB.NormalUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Metalic</b></div>
                    <div class="col-lg-10">@Model.AndroidSFB.MetalicUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Roughness</b></div>
                    <div class="col-lg-10">@Model.AndroidSFB.RoughnessUrl</div>
                </div>
                <div class="row p-1 m-2">
                    <div class="col-lg-2"><b>Metallic Roughnes</b></div>
                    <div class="col-lg-10">@Model.AndroidSFB.MetallicRoughnessUrl</div>
                </div>
            </div>
        </div>
}
    </div>
</div>

