﻿@model AdminARProductShortModel[]

@{
    ViewData["Title"] = "Список AR объектов";
}

<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-lg-3">
        <b>Всего : @Model.Length шт.</b>
    </div>
</div>

<div class="row border rounded p-1 m-1">
    @Html.ActionLink("Перезагрузить модели", "ParseCSV", "AdminARProduct", null, new { @class = "btn btn-outline-danger" })
</div>

<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-md-3 text-center">
        <b>Имя</b>
    </div>
    <div class="col-md-1 text-center">
        <b>Faradise ID</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Цвет</b>
    </div>
    <div class="col-md-1 text-center">
        <b>Product ID</b>
    </div>
    <div class="col-md-3 text-center">
        <b>Имя продукта</b>
    </div>
    <div class="col-md-2 text-center">
        <b></b>
    </div>
</div>

@foreach (var m in Model)
{
    <div class="row border rounded p-1 m-1 vertical-align">
        <div class="col-md-3 text-center">
            <b>@m.FaradiseName</b>
        </div>
        <div class="col-md-1 text-center">
            <b>@m.FaradiseId</b>
        </div>
        <div class="col-md-2 text-center">
            @m.Color
        </div>
        @if (m.ProductId != null)
        {
            <div class="col-md-1 text-center">
                @m.ProductId
            </div>
            <div class="col-md-3 text-center">
                @m.ProductName
            </div>
        }
        else
        {
            <div class="col-md-1 text-center">
                не задан
            </div>
            <div class="col-md-3 text-center">
                не задан
            </div>
        }
        <div class="col-md-2 text-center align-self-end">
            @Html.ActionLink("открыть", "ARProduct", "AdminARProduct", new { id = m.Id }, new { @class = "btn btn-outline-primary" })
        </div>
    </div>
}

<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-lg-3">
        <b>Всего : @Model.Length шт.</b>
    </div>
</div>

