﻿@model ShortProductOrderModel[]

@{
    ViewData["Title"] = "Проекты - в работе";
}

<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-lg-3">
        <b>Всего : @Model.Length шт.</b>
    </div>
</div>

<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-md-1 text-center">
        <b>ID</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Статус</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Тип платежа</b>
    </div>
    <div class="col-md-4 text-center">
        <b>Имя</b>
    </div>
    <div class="col-md-3 text-center">
        <b>Цена товаров</b>
    </div>
</div>

@foreach (var m in Model)
{
<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-md-1 text-center align-self-end">
        @Html.ActionLink(m.OrderId.ToString(), "order", "basket", new { id = m.OrderId }, new { @class = "btn btn-outline-primary" })
    </div>
    <div class="col-md-2 text-center">
        @Html.Partial("BadgeOrderStatus", m.OrderStatus)
        @if (m.PaymentId != 0 && m.PaymentStatus == PaymentStatus.Canceled)
        {
            <span class="badge badge-danger">Платеж отменен</span>
        }
    </div>
    <div class="col-md-2 text-center">
        @Html.Partial("BadgePaymentMethod", m.PaymentMethod)
    </div>
    <div class="col-md-4 text-center">
        @m.Name
    </div>
    <div class="col-md-3 text-center">
        @m.BasePrice руб.
    </div>
</div>
}

<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-lg-3">
        <b>Всего : @Model.Length шт.</b>
    </div>
</div>