﻿@model FullBasketOrderModel

@{
    ViewData["Title"] = "Заказ " + Model.OrderId;
}
<div class="container-fluid m-1">
    <h5 class="card-header">Общая информация</h5>
    <br />
    @if (Model.PriceMissmatch)
    {
        <div class="row p-1 m-2">
            <span class="badge badge-danger">Цена заказа была обновлена, посмотрите ее и переформируйте платеж</span>
        </div>
    }
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Статус</b></div>
        @Html.Partial("BadgeOrderStatus", Model.OrderStatus)
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Тип платежа</b></div>
        @Html.Partial("BadgePaymentMethod", Model.SelectedPaymentMethod)
        <div class="col-lg-5">
        @if (Model.OrderStatus == OrderStatus.Created && Model.SelectedPaymentMethod != PaymentMethod.Tinkoff)
        {
            @using (Html.BeginForm("ChangePaymentMethod", "Basket", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                    <label>   Сменить на </label>
                    <input type="hidden" value="@Model.OrderId" name="orderId" />
                    <select name="selected">
                        @if (Model.SelectedPaymentMethod != PaymentMethod.YandexKassa)
                        {
                            <option value="@PaymentMethod.YandexKassa">Яндекс</option>
                        }
                        @if (Model.SelectedPaymentMethod != PaymentMethod.Cash)
                        {
                            <option value="@PaymentMethod.Cash">Наличные</option>
                        }
                    </select>
                    <input type="submit" value="Поменять" />
            }
        }
        </div>
    </div>
    @using (Html.BeginForm("ChangeOrderDetails", "Basket", FormMethod.Post))
    {
        <input type="hidden" value="@Model.OrderId" name="orderId" />
        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Город</b></div>
            <div class="col-lg-2">@Html.TextBoxFor(x => x.City)</div>
        </div>
        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Имя</b></div>
            <div class="col-lg-2">@Html.TextBoxFor(x => x.Name)</div>
        </div>
        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Фамилия</b></div>
            <div class="col-lg-2">@Html.TextBoxFor(x => x.Surname)</div>
        </div>
        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Телефон</b></div>
            <div class="col-lg-2">@Html.TextBoxFor(x => x.Phone)</div>
        </div>
        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>E-mail</b></div>
            <div class="col-lg-2">@Html.TextBoxFor(x => x.Email)</div>
        </div>
        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Адрес</b></div>
            <div class="col-lg-2">@Html.TextBoxFor(x => x.Adress)</div>
        </div>
        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Описание</b></div>
            <div class="col-lg-2">@Html.TextAreaFor(x => x.Description, new { style = "width: 400px; height:100px;" })</div>
        </div>
        <input type="submit" value="Сохранить" />
    }

        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Промокод</b></div>
            @if (Model.PromoCodePercents > 0)
            {
                <div class="col-lg-2">@Model.PromoCode (- @Model.PromoCodePercents %)</div>
            }
            @if (Model.PromoCodeAbsolute > 0)
            {
                <div class="col-lg-2">@Model.PromoCode (- @Model.PromoCodeAbsolute руб.)</div>
            }

            @if (@Model.OrderStatus == OrderStatus.Created)
            {
                @using (Html.BeginForm("SetPromocode", "Basket", FormMethod.Post))
                {
                    <input type="hidden" value="@Model.OrderId" name="orderId" />
                    <input type="text" name="promocode" />
                    <input type="submit" value="Изменить" />
                }
            }

        </div>

    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Стоимость продуктов</b></div>
        <div class="col-lg-2">@Model.BasePrice</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Добавочная стоимость</b></div>
        <div class="col-lg-2">@Model.AdditionalPrice</div>
        @if (@Model.OrderStatus == OrderStatus.Created)
        {
            @using (Html.BeginForm("AddAdditinalPrice", "Basket", FormMethod.Post))
            {
                <input type="hidden" value="@Model.OrderId" name="orderId" />
                <input type="number" name="cost" />
                <input type="submit" value="Изменить" />
            }
        }
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Cтоимость доставки</b></div>
        <div class="col-lg-2">@Model.DeliveryPrice</div>
        @if (@Model.OrderStatus == OrderStatus.Created)
        {
            @using (Html.BeginForm("AddDeliveryPrice", "Basket", FormMethod.Post))
            {
                <input type="hidden" value="@Model.OrderId" name="orderId" />
                <input type="number" name="cost" />
                <input type="submit" value="Изменить" />
            }
        }
    </div>
    <div class="row p-1 m-2">
        @using (Html.BeginForm("RefreshOrderPrice", "Basket", FormMethod.Post))
        {
            <input type="hidden" value="@Model.OrderId" name="orderId" />
            <input type="submit" class="btn btn-info" value="Обновить цену" />
        }
    </div>
    <br />
    <h5 class="card-header">Предметы в заказе</h5>
    <div class="row border rounded p-1 m-1">
        <div class="col-md-1 text-center">
            <small><b>ID продукта</b></small>
        </div>
        <div class="col-md-1 text-center">
            <small><b>Партнер</b></small>
        </div>
        <div class="col-md-1 text-center">
            <small><b>Артикул</b></small>
        </div>
        <div class="col-md-2 text-center">
            <small><b>Название продукта</b></small>
        </div>
        <div class="col-md-1 text-center">
            <small><b>Количество</b></small>
        </div>
        <div class="col-md-1 text-center">
            <small><b>Цена</b></small>
        </div>
        <div class="col-md-1 text-center">
            <small><b>Без промок.</b></small>
        </div>
        <div class="col-md-2 text-center">
            <small><b>Удалить</b></small>
        </div>
        <div class="col-md-1 text-center">
            <small><b>Ссылка на магазин</b></small>
        </div>
        <div class="col-md-1 text-center">
            <small><b>Ссылка на партнера</b></small>
        </div>
    </div>
    @foreach (var item in Model.Products)
    {
        <div class="row border rounded p-1 m-1">
            <div class="col-md-1 text-center">
                <small><b>@item.ProductId</b></small>
            </div>
            <div class="col-md-1 text-center">
                <small>@item.Vendor</small>
            </div>
            <div class="col-md-1 text-center">
                <small>@item.VendorCode</small>
            </div>
            <div class="col-md-2 text-center">
                <small>@item.Name</small>
            </div>
            <div class="col-md-1 text-center">
                <small>@item.Count</small>
            </div>
            <div class="col-md-1 text-center">
                <small>@item.Price</small>
            </div>
            <div class="col-md-1 text-center">
                <small>@item.BasePrice</small>
            </div>
            <div class="col-md-2 text-center">
                @if (@Model.OrderStatus == OrderStatus.Created)
                {
                    @using (Html.BeginForm("RemoveProducts", "Basket", FormMethod.Post))
                    {
                        <input type="hidden" value="@Model.OrderId" name="orderId" />
                        <input type="hidden" value="@item.ProductId" name="productId" />
                        <input type="number" name="count" />
                        <small><input type="submit" value="Удалить" /></small>
                    }
                }
                else
                {
                        <small> </small>
                }
            </div>
            <div class="col-md-1 text-center">
                <small><a href="https://faradise.ru/product/@item.ProductId">Ссылка</a></small>
            </div>
            <div class="col-md-1 text-center">
                <small><a href="@item.VendorLink">Ссылка</a></small>
            </div>
        </div>

    }

    @if (Model.AbsoluteDiscount > 0)
    {
        <div class="row border rounded p-1 m-1">
            <div class="col-md-1 text-center">
                <small> </small>
            </div>
            <div class="col-md-1 text-center">
                <small> </small>
            </div>
            <div class="col-md-1 text-center">
                <small> </small>
            </div>
            <div class="col-md-2 text-center">
                <small>Вычет по скидочному коду</small>
            </div>
            <div class="col-md-1 text-center">
                <small>1</small>
            </div>
            <div class="col-md-1 text-center">
                <small>-@Model.AbsoluteDiscount</small>
            </div>
            <div class="col-md-1 text-center">
                <small>-@Model.AbsoluteDiscount</small>
            </div>
            <div class="col-md-2 text-center">
                <small> </small>
            </div>
            <div class="col-md-1 text-center">
                <small> </small>
            </div>
            <div class="col-md-1 text-center">
                <small> </small>
            </div>
        </div>
    }

   @if (@Model.OrderStatus == OrderStatus.Created)
   {
        <h5 class="card-header">Добавить товар</h5>
        <div class="row p-3 m-2">
            @using (Html.BeginForm("AddProducts", "Basket", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <input type="hidden" value="@Model.OrderId" name="orderId" />
                <div class="form-group row">
                    @Html.Label("productId", "Id продукта :", new { @class = "col-form-label col-m-1" })
                    <div class="col-lg-2">
                        <input type="number" name="productId" class="form-control" />
                    </div>
                    @Html.Label("count", "Количество :", new { @class = "col-form-label col-m-1" })
                    <div class="col-lg-2">
                        <input type="number" name="count" class="form-control" />
                    </div>
                    <div class="col-md-1">
                        <input type="submit" class="btn btn-primary" value="Добавить" />
                    </div>
                </div>
            }
        </div>
   }
    <h5 class="card-header">Информация о платеже</h5>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Id платежа</b></div>
        <div class="col-lg-2">@Model.PaymentId</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Статус оплаты</b></div>
        @if (Model.PaymentId == null)
        {
            <div class="col-lg-2">Не сформирован</div>
        }
        else
        {
            <div class="col-lg-2">@Model.PaymentStatus</div>
        }
    </div>
    @if (Model.SelectedPaymentMethod == PaymentMethod.YandexKassa)
    {
        <div class="row p-1 m-2">
            <div class="col-lg-2"><b>Ссылка на оплату</b></div>
            @if (Model.PlatformLink != null && Model.PlatformLink != string.Empty)
            {
                <div class="col-lg-5">@Model.PlatformLink</div>
            }
            else
            {
                <div class="col-lg-5">Не сформирована</div>
            }
            <br />
            <br />
            <div class="col-lg-2">
               @*@if (@Model.OrderStatus == OrderStatus.Created)
               {*@
                    @using (Html.BeginForm("AddPaymentToOrder", "Basket", new { orderId = Model.OrderId }))
                    {
                        <input type="submit" class="btn btn-primary" value="Сформировать" />
                    }
               @*}*@
            </div>
        </div>
    }
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Дата создания заказа</b></div>
        <div class="col-lg-2">@Model.CreationTime.AddHours(3)</div>
    </div>
    <br />
    <br />
    <div class="row p-1 m-2" style="padding:20px;">
        @if (Model.SelectedPaymentMethod == PaymentMethod.YandexKassa || Model.SelectedPaymentMethod == PaymentMethod.Cash)
        {
            <div style="padding:20px;">
                @using (Html.BeginForm("MoveOrderToWork", "Basket", new { orderId = Model.OrderId, style = "padding: 10px;" }))
                {
                    <input type="submit" class="btn btn-outline-info" value="В работу" />
                }
            </div>
        }
        else if (Model.SelectedPaymentMethod == PaymentMethod.Tinkoff)
        {
            <div style="padding:20px;">
                @using (Html.BeginForm("SetCreditOrderToApproved", "Basket", new { orderId = Model.OrderId, style = "padding: 10px;" }))
                {
                    <input type="submit" class="btn btn-outline-info" value="Кредит одобрили" />
                }
            </div>
            <div style="padding:20px;">
                @using (Html.BeginForm("SetCreditOrderToNotApproved", "Basket", new { orderId = Model.OrderId, style = "padding: 10px;" }))
                {
                    <input type="submit" class="btn btn-outline-danger" value="Кредит не одобрили" />
                }
            </div>
            <div style="padding:20px;">
                @using (Html.BeginForm("MoveCreditOrderToWork", "Basket", new { orderId = Model.OrderId, style = "padding: 10px;" }))
                {
                    <input type="submit" class="btn btn-outline-info" value="В работу" />
                }
            </div>
        }
        <div style="padding:20px;">
            @using (Html.BeginForm("CompleteOrder", "Basket", new { orderId = Model.OrderId, style = "margin: 10px;" }))
            {
                <input type="submit" class="btn btn-outline-warning" value="Завершить заказ" />
            }
        </div>
        <div style="padding:20px;">
            @using (Html.BeginForm("CancelOrderToWork", "Basket", new { orderId = Model.OrderId, style = "margin: 10px;" }))
            {
                <input type="submit" class="btn btn-outline-danger" value="Отменить заказ" />
            }
        </div>
    </div>
</div>


