﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>_Layout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="p-1 border rounded">
<div class="container-fluid p-3">
    <div class="row border rounded p-4 m-1">
        <h4>Добро пожаловать, Анастасия!</h4>
    </div>
    <div class="row border rounded p-4 m-1">
        <div class="col-lg-2">
            <ul class="nav flex-column border rounded p-3">
                <li class="nav-item"><h5>Маркетплейс</h5></li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("companylist", "marketplace", new {showAdditionalInfo = false})">Партнёры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("BannerList", "Banner")">Баннеры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("categorylist", "marketplace")">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ProblemPartnersList", "CorruptedPictures")">Поврежденные картинки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ParametersList", "CategoryParameters")">Параметры категорий</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("roomlist", "marketplace")">Комнаты для категорий</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("colorlist", "marketplace")">Цвета</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ColorMapping", "marketplace")">Соотнесение цветов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ymlvalidation", "marketplace")">Проверка YML</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("YmlUploadQueue", "marketplace")">Очередь загрузки YML</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("DownloadYml", "product")">Сформировать YML по продуктам</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Moderation", "marketplace")">Нейросеть</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ProductsStats", "marketplace")">Характеристики товаров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("FindProduct", "marketplace")">Найти товар</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("SavedBaskets", "marketplace")">Сохраненные корзины</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("CompilationList", "admincompilation")">Акции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("BadgeList", "adminbadge")">Шилды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("SaleList", "adminsale")">Скидки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ARProductList", "AdminARProduct")">AR объекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("GetPossibleProductsWithDefaultKoef", "DailyProduct")">Товар дня</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Lottery", "marketplace")">Лотерея</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("PromoCodeList", "PromoCode")">Промокоды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("CollectionBlacklist", "CollectionBlacklist")">Запрщенные коллекции</a>
                </li>
                <li class="nav-divider"><br /></li>

                <li class="nav-item"><h5>Проекты</h5></li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("SmsMailing", "Client")">Рассылка смс клиентам</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("descriptionlist", "project")">Ждут дизайнера</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("developmentlist", "project")">В работе</a>
                </li>
                <li class="nav-divider"><br /></li>

                <li class="nav-item"><h5>Дизайнеры</h5></li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("registeredlist", "designer")">Зарегистрировались</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("applicationlist", "designer")">Заявки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("approvedlist", "designer")">Не заполнили информацию</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("readylist", "designer")">Готовы к работе</a>
                </li>
                <li class="nav-divider"><br /></li>

                <li class="nav-item"><h5>Заказы</h5></li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("orderlist", "basket")">Из корзины</a>
                </li>
                <li class="nav-divider"><br /></li>
                <li class="nav-item"><h5>Толока</h5></li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("TolokaTasks", "toloka")">Задачи</a>
                </li>
                <li class="nav-divider"><br /></li>
                <li class="nav-item"><h5>Сервисы</h5></li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Status", "BackgroundServices")">Статус</a>
                </li>
                <li class="nav-divider"><br /></li>
            </ul>
        </div>
        <div class="col border rounded">
            <div class="row border rounded m-2 p-3 bg-light">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="row border rounded m-2 p-2">
                <div class="container-fluid p-2">
                    @RenderBody()
                    @RenderSection("scripts", required: false)
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="panel-footer">
    <a>faradise, 2018</a>
</footer>
</body>
</html>