﻿@using Faradise.Design.Models.Enums
@model PaymentMethod

@if (Model == PaymentMethod.YandexKassa)
{
    <span class="badge badge-warning">Яндекс</span>
}
else if (Model == PaymentMethod.Cash)
{
    <span class="badge badge-secondary">Наличные</span>
}
else if (Model == PaymentMethod.Tinkoff)
{
    <span class="badge badge-info">Tinkoff</span>
}

