﻿@using Faradise.Design.Models.Enums
@model OrderStatus

@if (Model == OrderStatus.Created)
{
    <span class="badge badge-warning">Создан</span>
}
else if (Model == OrderStatus.WaitingForPayment)
{
    <span class="badge badge-secondary">Ждет оплаты</span>
}
else if (Model == OrderStatus.WaitingForCreditApprove)
{
    <span class="badge badge-success">Кредит/Ждем одобрения</span>
}
else if (Model == OrderStatus.CreditApprovedWaitingForManager)
{
    <span class="badge badge-success">Кредит/Одобрен/Заказ не отправлен</span>
}
else if (Model == OrderStatus.Paid)
{
    <span class="badge badge-success">Оплачен</span>
}
else if (Model == OrderStatus.InWork)
{
    <span class="badge badge-info">В работе</span>
}
else if (Model == OrderStatus.CreditApprovedInWork)
{
    <span class="badge badge-info">Кредит/Одобрен/В работе</span>
}
else if (Model == OrderStatus.Completed)
{
    <span class="badge badge-dark">Закрыт</span>
}
else if (Model == OrderStatus.Canceled)
{
    <span class="badge badge-danger">Отменен</span>
}
else if (Model == OrderStatus.CreditNotApproved)
{
    <span class="badge badge-danger">Кредит/Не одобрен</span>
}
else if (Model == OrderStatus.CanceledCredit)
{
    <span class="badge badge-danger">Кредит/Отменен</span>
}

