﻿@using Faradise.Design.Models.Enums
@model CompilationSource

@if (Model == CompilationSource.Categories)
{
    <span class="badge badge-info">Категории</span>
}
else if (Model == CompilationSource.ProductList)
{
    <span class="badge badge-secondary">Список продуктов</span>
}

