﻿@model AdminProjectModel

<div class="card m-2">
    <h6 class="card-header">Базовая информация</h6>
    <div class="card-body">

        @if (Model.FillTime != DateTime.MinValue)
        {
            <div class="row">
                <div class="col-lg-2"><b>Дата заполнения: </b></div>
                <div class="col-lg-4">@Model.FillTime</div>
            </div>
        }

        <br />

        <div class="row">
            <div class="col-lg-2"><b>Id клиента: </b></div>
            <div class="col-lg-4">@Model.ClientId</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Имя: </b></div>
            <div class="col-lg-4">@Model.ClientName</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Телефон: </b></div>
            <div class="col-lg-4">@Model.ClientPhone</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Почта: </b></div>
            <div class="col-lg-4">@Model.ClientEmail</div>
        </div>

        <br />

        <div class="row">
            <div class="col-lg-2"><b>Имя проекта: </b></div>
            <div class="col-lg-4">@Model.Name</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Город: </b></div>
            <div class="col-lg-4">@Model.City</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Тип объекта: </b></div>
            <div class="col-lg-4">@Model.ObjectType</div>
        </div>

        <br />

        <div class="row">
            <div class="col-lg-2"><b>Бюджет на мебель: </b></div>
            <div class="col-lg-4">@Model.BudgetFurniture</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Бюджет на ремонт: </b></div>
            <div class="col-lg-4">@Model.BudgetRenovation</div>
        </div>

        <div class="row p-1 m-2">
            <div class="col-lg-auto">
                @using (Html.BeginForm("DeleteProjectDescription", "project", new { projectId = Model.Id }))
                {
                    <input type="button" class="btn btn-outline-success" value="Удалить проект" onclick="return DeleteProject(this.form);" />
                }
            </div>
            <div class="col-lg-auto">
                @using (Html.BeginForm("DeleteUserDescription", "project", new { userId = Model.ClientId }))
                {
                    <input type="button" class="btn btn-outline-success" value="Удалить пользователя" onclick="return DeleteUser(this.form);" />
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function DeleteProject(form) {
        var isOk = confirm("Вы уверены что хотите удалить проект?");
        if (isOk == true) {
            form.submit();
        }
    }

    function DeleteUser(form) {
        var deleteText = prompt('Вы уверены что хотите удалить пользователя? Если да, то введите слово УДАЛИТЬ', '');
        if (deleteText === 'УДАЛИТЬ') {
            var isOk = confirm("Вы точно уверены?");
            if (isOk == true) {
                form.submit();
            }
        }
        else{
            alert("Не удалено!");
        }
    }
</script>

<div class="card m-2">
    <h6 class="card-header">Причины</h6>
    <div class="card-body">

        @foreach (var r in Model.Reasons)
        {
            <span><b>@r.Name.Localize()</b></span>
            <br />
            <span>@r.Description</span>
            <br />
            <br />
        }
    </div>
</div>

<div class="card m-2">
    <h6 class="card-header">Комнаты</h6>
    <div class="card-body">
        @foreach (var r in Model.Rooms.GroupBy(x => x))
        {
            <div class="row">
                <div class="col-lg-2"><b>@r.Key.Localize()</b></div>
                <div class="col-lg-2">@r.Count()</div>
            </div>
        }
    </div>
</div>

<div class="card m-2">
    <h6 class="card-header">Стили</h6>
    <div class="card-body">
        @foreach (var r in Model.Styles)
        {
            <span><b>@r.Name</b></span>
            <br />
            <span>@r.Description</span>
            <br />
        }
    </div>
</div>

<div class="card m-2">
    <h6 class="card-header">Опросник</h6>
    <div class="card-body">
        @{
            var testing = (TestingViewModel)ViewBag.Testing;
        }
        @foreach (var q in Model.TestAnswers.Questions.Where(x => testing.Questions.ContainsKey(x.Index)))
        {
            <span><b>@testing.Questions[q.Index].Text</b></span>
            <br />
            <span>@testing.Questions[q.Index].Answers[q.Answer]</span>
            <br />
            <br />
        }
    </div>
</div>

<div class="card m-2">
    <h6 class="card-header">Требования к дизайнеру</h6>
    <div class="card-body">
        @if (Model.DesignerRequirements != null)
        {
            <div class="row">
                <div class="col-lg-2"><b>Пол: </b></div>
                <div class="col-lg-4">@Model.DesignerRequirements.Gender</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Возраст: </b></div>
                <div class="col-lg-4">@(Model.DesignerRequirements.AgeFrom + " - " + Model.DesignerRequirements.AgeTo)</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Персональный контроль: </b></div>
                <div class="col-lg-4">@Html.Partial("BoolBadge", Model.DesignerRequirements.NeedPersonalСontrol)</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Личная встреча: </b></div>
                <div class="col-lg-4">@Html.Partial("BoolBadge", Model.DesignerRequirements.NeedPersonalMeeting)</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Место встречи: </b></div>
                <div class="col-lg-4">@Model.DesignerRequirements.MeetingAdress</div>
            </div>
        }
    </div>
</div>


