﻿@model AdminProjectModel

<div class="row p-1 m-1">
    <div class="col-md-5">
        <span><b>Стадия разработки:</b></span>
        <span>@Model.DevelopmentStage.GetTranslation()</span>
    </div>
</div>

<div class="accordion" id="accordion_d">
    @foreach (var room in Model.RoomInfosAndProportions.Select(x => new { x.RoomId, x.Purpose }))
    {
        var m_id = "m_car_" + room.RoomId;
        var z_id = "z_car_" + room.RoomId;
        var k_id = "k_car_" + room.RoomId;
        var c_id = "c_dev_" + room.RoomId;
        var h_id = "head_dev_" + room.RoomId;

        <div class="card">
            <div class="card-header" id="@h_id">
                <h6 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@c_id" aria-expanded="true" aria-controls="@c_id">
                        Комната - @room.RoomId - @room.Purpose.Localize()
                    </button>
                </h6>
            </div>

            <div id="@c_id" class="collapse p-3" aria-labelledby="@h_id" data-parent="#accordion_d">
                <span><b>Мудборд</b></span>
                <br />
                @{
                    var moodboard = Model.Moodsboards?.FirstOrDefault(x => x.RoomId == room.RoomId);
                    if (moodboard != null && moodboard.MoodboardPhotos.Any())
                    {
                        <div id="@m_id" class="carousel slide" data-ride="carousel" style="width: 360px;">
                        <div class="carousel-inner">
                            @for (var i = 0; i < moodboard.MoodboardPhotos.Length; i++)
                            {
                                var cs = "carousel-item";
                                @if (i == 0)
                                {
                                    cs = "carousel-item active";
                                }

                                <div class="@cs">
                                    <img class="d-block" style="height:400px;" src="@moodboard.MoodboardPhotos[i].FileLink">
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#@m_id" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#@m_id" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    }
                    else
                    {
                        <span>Фото отсутствуют</span>
                    }
                }

                <br />
                <br />

                @if (Model.DevelopmentStage > Faradise.Design.Models.ProjectDevelopment.DevelopmentStage.Moodboard)
                {
                    <span><b>Зонирование</b></span>
                    <br />
                    {
                        var zone = Model.Zones.FirstOrDefault(x => x.RoomId == room.RoomId);
                        if (zone != null && zone.ZonePhotos.Any())
                        {
                            <div id="@z_id" class="carousel slide" data-ride="carousel" style="width: 360px;">
                            <div class="carousel-inner">
                                @for (var i = 0; i < zone.ZonePhotos.Length; i++)
                                {
                                    var cs = "carousel-item";
                                    @if (i == 0)
                                    {
                                        cs = "carousel-item active";
                                    }

                                    <div class="@cs">
                                        <img class="d-block" style="height:400px;" src="@zone.ZonePhotos[i].FileLink">
                                    </div>
                                }

                            </div>
                            <a class="carousel-control-prev" href="#@z_id" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#@z_id" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        }
                        else
                        {
                            <span>Фото отсутствуют</span>
                        }
                    }
                }

                <br />
                <br />

                @if (Model.DevelopmentStage > Faradise.Design.Models.ProjectDevelopment.DevelopmentStage.Zoning)
                {
                    <span><b>Коллаж</b></span>
                    <br />
                    {
                        var collage = Model.Collages.FirstOrDefault(x => x.RoomId == room.RoomId);
                        if (collage != null && collage.CollagePhotos.Any())
                        {
                            <div id="@k_id" class="carousel slide" data-ride="carousel" style="width: 360px;">
                            <div class="carousel-inner">
                                @for (var i = 0; i < collage.CollagePhotos.Length; i++)
                                {
                                    var cs = "carousel-item";
                                    @if (i == 0)
                                    {
                                        cs = "carousel-item active";
                                    }

                                    <div class="@cs">
                                        <img class="d-block" style="height:400px;" src="@collage.CollagePhotos[i].FileLink">
                                    </div>
                                }

                            </div>
                            <a class="carousel-control-prev" href="#@k_id" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#@k_id" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        }
                        else
                        {
                            <span>Коллажи отсутствуют</span>
                        }
                    }
                }

                <br />
                <br />

                @if (Model.DevelopmentStage > Faradise.Design.Models.ProjectDevelopment.DevelopmentStage.Collage)
                {
                    <span><b>Визуализации</b></span>
                    <br />
                    {
                        var vis = Model.Visualizations.FirstOrDefault(x => x.RoomId == room.RoomId);
                        if (vis != null)
                        {
                            <div class="row p-1 m-1">
                                <div class="col-md-2">
                                    <b>Выбрана</b>
                                </div>
                                <div class="col-md-2">
                                    @vis.IsSelected
                                </div>
                            </div>

                            @if (vis.IsSelected)
                            {
                                <div class="row p-1 m-1">
                                <div class="col-md-2">
                                    <b>Цена</b>
                                </div>
                                <div class="col-md-2">
                                    @vis.Price
                                </div>

                            </div>

                                <div class="row p-1 m-1">
                                <div class="col-md-2">
                                    <b>Статус оплаты</b>
                                </div>
                                <div class="col-md-2">
                                    @vis.PaymentStatus
                                </div>
                            </div>

                                <div class="row p-1 m-1">
                                <div class="col-md-2">
                                    <b>Закончена</b>
                                </div>
                                <div class="col-md-2">
                                    @vis.IsComplete
                                </div>

                            </div>

                                <div class="row p-1 m-1">
                                <div class="col-md-2">
                                    <b>Код визуализации</b>
                                </div>
                                <div class="col-md-5">
                                    @vis.VisualizationCode
                                </div>

                            </div>
                            }
                        }
                        else
                        {
                            <span>Визуализация отсутствует</span>
                        }
                    }
                }

                <br />
                <br />

                @if (Model.DevelopmentStage > Faradise.Design.Models.ProjectDevelopment.DevelopmentStage.Visualization)
                {
                    <span><b>План</b></span>
                    <br />

                    {
                        var plan = Model.WorkPlans.FirstOrDefault(x => x.RoomId == room.RoomId);
                        if (plan != null)
                        {
                            <div class="row p-1 m-1">
                                <div class="col-md-2">
                                    <b>Цена</b>
                                </div>
                                <div class="col-md-2">
                                    @plan.Price
                                </div>
                            </div>

                            foreach (var file in plan.PlanFiles)
                            {
                                <div class="row p-1 m-1">
                                    <div class="col-md-4">
                                        <a href="@file.FileLink" target="_blank">@file.FileId</a>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <span>План отсутствует</span>
                        }
                    }
                }
            </div>
        </div>
    }
</div>

