﻿@model AdminProjectModel

<div class="container-fluid m-1">
    <div class="card">
        <h6 class="card-header" data-toggle="collapse" href="#collapse-rooms" role="button" aria-expanded="true" aria-controls="collapse-rooms">
            Комнаты
        </h6>
        <div class="collapse" id="collapse-rooms">
            <div class="card card-body">
                <div class="accordion" id="accordion_p">
                    @foreach (var p in Model.RoomInfosAndProportions)
                    {
                        var id = "car_" + p.RoomId;
                        var c_id = "c_" + p.RoomId;
                        var h_id = "head_" + p.RoomId;

                        <div class="card">

                            <div class="card-header" id="@h_id">
                                <h6 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@c_id" aria-expanded="true" aria-controls="@c_id">
                                        @p.Purpose.Localize()
                                    </button>
                                    @using (Html.BeginForm("DeleteRoom", "project", new { roomId = p.RoomId, projectId=Model.Id }))
                                    {
                                        <input type="submit" class="btn btn-outline-warning" value="Удалить комнату" />
                                    }
                                </h6>
                            </div>

                            <div id="@c_id" class="collapse p-3" aria-labelledby="@h_id" data-parent="#accordion_p">

                                <b><span>План комнаты</span></b>
                                <br />
                                @if (!string.IsNullOrEmpty(p.PlanLink))
                                {
                                    <img class="d-block" src="@p.PlanLink" style="width:600px;">
                                }
                                else
                                {
                                    <span>План комнаты отсутствует</span>
                                }

                                <br />
                                <br />
                                <b><span>Фотографии</span></b>
                                <br />

                                @if (p.Photos != null && p.Photos.Any())
                                {
                                    <div id="@id" class="carousel slide" data-ride="carousel" style="width: 360px;">
                                        <div class="carousel-inner">
                                            @for (var i = 0; i < p.Photos.Count; i++)
                                            {
                                                var cs = "carousel-item";
                                                @if (i == 0)
                                                {
                                                    cs = "carousel-item active";
                                                }

                                                <div class="@cs">
                                                    <img class="d-block" style="height:400px;" src="@p.Photos[i].Link" alt="@p.Photos[i].PhotoId">
                                                </div>
                                            }

                                        </div>
                                        <a class="carousel-control-prev" href="#@id" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#@id" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <span>Фотографии не загружены</span>
                                }

                                <br />
                                <br />
                                <b><span>Пропорции</span></b>

                                <div class="row p-1 m-2">
                                    <div class="col-lg-2"><b>Сторона А</b></div>
                                    <div class="col-lg-2">@p.Proportions.SideA</div>
                                </div>
                                <div class="row p-1 m-2">
                                    <div class="col-lg-2"><b>Сторона B</b></div>
                                    <div class="col-lg-2">@p.Proportions.SideB</div>
                                </div>
                                <div class="row p-1 m-2">
                                    <div class="col-lg-2"><b>Высота двери</b></div>
                                    <div class="col-lg-2">@p.Proportions.HeightDoor</div>
                                </div>
                                <div class="row p-1 m-2">
                                    <div class="col-lg-2"><b>Ширина двери</b></div>
                                    <div class="col-lg-2">@p.Proportions.WidthDoor</div>
                                </div>
                                <div class="row p-1 m-2">
                                    <div class="col-lg-2"><b>Высота потолка</b></div>
                                    <div class="col-lg-2">@p.Proportions.HeightCeiling</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid m-1">
    <div class="card">

        <h6 class="card-header" data-toggle="collapse" href="#collapse-old" role="button" aria-expanded="true" aria-controls="collapse-old">
            Фото того, что останется
        </h6>
        <div class="collapse p-3" id="collapse-old">
            @if (Model.OldStuffPhotos != null && Model.OldStuffPhotos.FurniturePhotos != null && Model.OldStuffPhotos.FurniturePhotos.Any())
            {
                <span>Фотографии старых вещей</span>
                <br/>
                @foreach (var photo in Model.OldStuffPhotos.FurniturePhotos)
                {
                    <img src="@photo.Link" style="height:400px;" />
                    <br />
                }
            }
            else
            {
                <span>Фотографий старых вещей нет</span>
            }

            <br />

            @if (Model.OldStuffPhotos != null && Model.OldStuffPhotos.FurnishPhotos != null && Model.OldStuffPhotos.FurnishPhotos.Any())
            {
                <span>Фотографии старого ремонта</span>
                <br/>
                @foreach (var photo in Model.OldStuffPhotos.FurnishPhotos)
                {
                    <img src="@photo.Link" style="height:400px;" />
                }
            }
            else
            {
                <span>Фотографий старого ремонта нет</span>
            }
        </div>
    </div>
</div>