﻿@model AdminCategoryModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="container-fluid p-2 m-2">
    <img src="@Model.ImageUrl" style="height:75px" />
</div>

<br />

<div class="border rounded p-2 m-2">
    @using (Html.BeginForm("ModifyCategory", "marketplace"))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ImageUrl)
        @Html.HiddenFor(x => x.InHeader)
        @Html.HiddenFor(x => x.IsPopular)

        <div class="row p-1 m-1 vertical-align">
            <div class="col-lg-2">
                <b><span>Имя</span></b>
            </div>
            <div class="col-lg-2">
                @Html.TextBoxFor(x => x.Name)
            </div>
        </div>
        <div class="row p-1 m-1 vertical-align">
            <div class="col-lg-2">
                <b><span>Родитель</span></b>
            </div>
            <div class="col-lg-2">
                @Html.DropDownListFor(x => x.ParentId, (SelectList)ViewData["Categories"])
            </div>
        </div>
        <div class="row p-1 m-1 vertical-align">
            <div class="col-lg-2">
                <b><span>Параметры</span></b>
            </div>
            <div class="col-lg-2">

                @Html.DropDownListFor(model => model.SelectedParametersIds, ((SelectList) ViewData["Parameters"]), new
                {
                    @class = "js-multiple",
                    multiple = "multiple",
                })
            </div>
        </div>
        <div class="row p-1 m-1 vertical-align">
            <div class="col-lg-2">
                <b><span>Статус</span></b>
            </div>
            <div class="col-lg-2">
                @if (Model.IsEnabled == true)
                {
                    <span>Включен</span>
                }
                else
                {
                    <span>Отключен</span>
                }
            </div>
        </div>
        <div class="row p-1 m-1 vertical-align">
            <div class="col-lg-2">
                <b><span>Приоритет</span></b>
            </div>
            <div class="col-lg-2">
                @Html.TextBoxFor(x => x.Priority)
            </div>
        </div>
        <div class="row p-1 m-1 vertical-align">
            <div class="col-lg-2">
                <b><span>Приоритет продукта дня</span></b>
            </div>
            <div class="col-lg-2">
                @Html.TextBoxFor(x => x.DailyProductPriority)
            </div>
        </div>
        <div class="row p-1 m-1 vertical-align">
            <div class="col-lg-2">
                <b><span>Время доставки (в днях)</span></b>
            </div>
            <div class="col-lg-2">
                @Html.TextBoxFor(x => x.DeliveryDays)
            </div>
        </div>
        <div class="row p-1 m-1 vertical-align">
            <div class="col-lg-2">
                <b><span>Стоимость доставки</span></b>
            </div>
            <div class="col-lg-2">
                @Html.TextBoxFor(x => x.DeliveryCost)
            </div>
        </div>
        <div class="row p-1 m-1 vertical-align">
            <div class="col-lg-1">
                <input type="submit" value="Обновить" class="btn btn-outline-primary" />
            </div>
            <div class="col-lg-1">
                @if (Model.IsEnabled == true)
                {
                    @Html.ActionLink("Отключить", "DisableCategory", new { id = Model.Id }, new { @class = "btn btn-danger" })
                }
                else
                {
                    @Html.ActionLink("Включить", "EnableCategory", new { id = Model.Id }, new { @class = "btn btn-success" })
                }
            </div>
        </div>
    }

</div>

<div class="container-fluid border rounded p-2 m-2">

    <h5 class="card-header m-2">Иконка</h5>

    @{
        var images = (CategoryImageModel[])ViewBag.Images;
        foreach (var image in images)
        {

            @using (Html.BeginForm("ModifyCategory", "marketplace", FormMethod.Post, new { @class = "d-inline" }))
            {

                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.Name)
                @Html.Hidden("ImageUrl", image.Url)
                @Html.HiddenFor(x => x.InHeader)
                @Html.HiddenFor(x => x.IsPopular)
                @Html.HiddenFor(x => x.DeliveryCost)
                @Html.HiddenFor(x => x.DeliveryDays)

                <button type="submit" class="btn btn-outline-primary m-2 p-2">
                    <img src="@image.Url" style="height:50px" />
                </button>
            }
        }
    }

</div>

<div class="container-fluid border rounded p-2 m-2">
    <h5 class="card-header m-2">Дозагрузить иконки</h5>

    <form method="post" enctype="multipart/form-data" asp-controller="Marketplace" asp-action="UploadCategoryImages">

        @Html.Hidden("id", Model.Id)

        <div class="form-group">
            <div class="col-md-10">
                <p>Выберите одну или несколько иконок:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Загрузить" class="btn btn-outline-primary" />
            </div>
        </div>
    </form>

</div>

<script>
    $(document).ready(function () {
        $('.js-multiple').select2();
    });
</script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
