﻿@model CategoryProductsListModel

@{
    ViewData["Title"] = Model.CompanyCategoryName; //.Category.CompanyCategory;// "Список продуктов";
}

@foreach (var m in Model.Products)
{
<div id="@m.ProductId" class="row border rounded vertical-align m-2 p-2 category">

    <div class="col-lg-3">
        <img src="@m.PhotoUrl" width="200px" />
    </div>

    <div class="col-lg-1">
        ID: @m.ProductId
    </div>

    <div class="col-lg-1">
        @m.ProductName
    </div>

    <div class="col-lg-1">
        <a href="@m.VendorLink">Ссылка на партнера</a>
    </div>

    <div class="col-lg-1">
        <a href="https://faradise.ru/product/@m.ProductId">Ссылка на товар</a>
    </div>

    <div class="col-lg-1">
       В: @m.Height <br>
       Ш: @m.Width <br>
       Д: @m.Length <br>
    </div>

    <div class="col-lg-1">
        @m.CategoryName
    </div>

    <div class="col-lg-2">
        <div class="col-lg-3">
            @Html.DropDownList("Categories", Model.Selector, new { @onchange = $"changeCategory({m.ProductId}, this.value)" })
        </div>
    </div>
</div>
}

@section scripts {
    <script type="text/javascript">

        function getXmlHttp() {
            var xmlhttp;
            try {
                xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                try {
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (E) {
                    xmlhttp = false;
                }
            }
            if (!xmlhttp && typeof XMLHttpRequest != 'undefined') {
                xmlhttp = new XMLHttpRequest();
            }
            return xmlhttp;
        }

        function changeCategory(id, val) {
            //console.log(id)
            //console.log(val)

            var xmlhttp = getXmlHttp(); // Создаём объект XMLHTTP
            xmlhttp.open('POST', '/marketplace/category/change-product-category', true); // Открываем асинхронное соединение
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
            xmlhttp.send("id=" + id
                + "&val=" + val); // Отправляем POST-запрос
            xmlhttp.onreadystatechange = function () { // Ждём ответа от сервера
            if (xmlhttp.readyState == 4) { // Ответ пришёл
                if (xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                    //document.getElementById(id).remove();
                }
            }
        };
        };
    </script>
}