﻿@model AdminCategoryModel[]

@{
    ViewData["Title"] = "Список цветов для продуктов компаний";
}


@using (Html.BeginForm("CreateCategory", "marketplace"))
{
    <div class="row border rounded p-2 m-2 vertical-align">
        <div class="col-lg-2 text-center">
            @Html.TextBox("name", string.Empty)
        </div>
        <div class="col-lg-1 text-center">
            <input type="submit" class="btn btn-outline-primary" value="Создать новую" />
        </div>
    </div>
}

<br />

@using (Html.BeginForm("ModifyCategoryList", "marketplace"))
{
<div class="row border rounded p-2 m-2 vertical-align">
    <div class="col-lg-3 text-left">
        <b><span>Имя</span></b>
    </div>

    <div class="col-lg-1 text-left">
        <b><span>Пр-т дня</span></b>
    </div>

    <div class="col-lg-1 text-center">
        <b><span>Приоритет</span></b>
    </div>

    <div class="col-lg-2 text-center">
        <b><span>В заголовке</span></b>
    </div>

    <div class="col-lg-1 text-center">
        <b><span>Популярное</span></b>
    </div>

    <div class="col-lg-1 text-center">
        <b><span>Иконка</span></b>
    </div>

    <div class="col-lg-1 text-center">
        <b><span>Статус</span></b>
    </div>
</div>

    @for (var i = 0; i < Model.Length; i++)
    {

        @Html.HiddenFor(x => x[i].Id)
        @Html.HiddenFor(x => x[i].Name)
        @Html.HiddenFor(x => x[i].WasInHeader)
        @Html.HiddenFor(x => x[i].WasPopular)
        @Html.HiddenFor(x => x[i].ImageUrl)
        @Html.HiddenFor(x => x[i].ParentId)

<div class="row border rounded p-2 m-2 vertical-align">
    <div class="col-lg-3 text-left">


        @for (var j = 0; j < Model[i].Depth; j++)
        {
            <span>--</span>
        }

        @if (Model[i].Depth > 0)
        {
            <span>&nbsp;</span>
        }

        <span>@Model[i].Name</span>
    </div>

    <div class="col-lg-1 text-center">
        <b><span>@Model[i].DailyProductPriority</span></b>
    </div>

    <div class="col-lg-1 text-center">
        <b><span>@Model[i].Priority</span></b>
    </div>

    <div class="col-lg-2 text-center">
        @if (Model[i].Depth == 0)
        {
            @Html.CheckBoxFor(x => x[i].InHeader)
        }
    </div>

    <div class="col-lg-1 text-center">
        @if (Model[i].Depth == 0)
        {
            @Html.CheckBoxFor(x => x[i].IsPopular)
        }
    </div>

    <div class="col-lg-1 text-center">
        <img src="@Model[i].ImageUrl" style="height: 24px" />
    </div>

    <div class="col-lg-1 text-center">
        @if (@Model[i].IsEnabled == true)
        {
            <span>Включен</span>
        }
        else
        {
            <span>Отключен</span>
        }
    </div>

    <div class="col-lg-2 text-center">
        @Html.ActionLink("Подробнее", "Category", "marketplace", new { id = Model[i].Id }, new { @class = "btn btn-outline-primary" })
    </div>
</div>
    }

    <div class="row p-2 m-2">
        <input type="submit" class="btn btn-outline-primary" value="Сохранить изменения" />
    </div>
}

