﻿@model MarketplaceColorModel[]

@{
    ViewData["Title"] = "Наименования цветов";
}

<div class="row border rounded p-1 m-1">
    <div class="col-md-1 text-center">
        <b>ColorId</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Название цвета</b>
    </div>

</div>
@foreach (var color in Model)
{
<div class="row border rounded p-1 m-1">
    <div class="col-md-1 text-center">
        <b>@color.ColorId</b>
    </div>
    <div class="col-md-2 text-center">
        <b>@color.Name</b>
    </div>
    @using (Html.BeginForm("EditColor", "marketplace"))
    {
        @Html.HiddenFor(x => color.ColorId)
        <div class="col-lg-2">
            @Html.TextBoxFor(x => color.Name)
        </div>
        <div class="form-group">
            <label for="color.Hex" class="col-md-4 control-lbl">Цвет:</label>
            <div class="col-md-8">
                <input type="color" name="color.Hex" id="color" class="form-control" value="@color.Hex" />
            </div>
        </div>
        <div class="col-lg-1 text-center">
            <input type="submit" class="btn btn-outline-primary" value="Изменить" />
        </div>
    }
</div>
}

<div class="card m-2">
    @using (Html.BeginForm("AddColor", "Marketplace", FormMethod.Post))
    {
        <input type="text" name="color" />
        <input type="color" name="hex" id="color"/>
        <input type="submit" value="Добавить" />
    }
</div>
