﻿
@model CompanyColorModel[]

@{
    ViewData["Title"] = "Соответствия цветов";
}

<div class="row border rounded p-1 m-1">
    <div class="col-md-2 text-center">
        <b>Название цвета компании</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Название цвета маркетплейса</b>
    </div>

</div>

@for (var i = 0; i < Model.Length; i++)
{
<div class="row border rounded p-1 m-1">
    <div class="col-md-2 text-center">
        <b>@Model[i].Name</b>
    </div>
    <div class="col-md-2 text-center">
        @if (Model[i].MarketplaceColorId != null)
    {
        <b>@Model[i].MarketplaceColorName</b>

}
else
{

    <b>Не присвоено</b>
}

    </div>
    @using (Html.BeginForm("MapColor", "marketplace"))
    {
        @Html.Hidden("companyColorId",Model[i].Id)
        <div class="col-lg-3">
            @Html.DropDownList("marketplaceColorId", (SelectList)ViewData["MarketplaceColors"])
        </div>
        <div class="col-lg-1 text-center">
            <input type="submit" class="btn btn-outline-primary" value="Привязать" />
        </div>
    }
</div>
}
