﻿@model AdminCompanyProductCollectionsModel

@{
    ViewData["Title"] = "Коллекции";
}

<div class="container-fluid">

    @using (Html.BeginForm("ManuallyUpdateCompanyCollections", "marketplace"))
    {
        @Html.Hidden("companyId", Model.CompanyId)
        <input type="submit" value="!Обновить коллекции вручную!" class="btn btn-danger m-2" />
    }

    <div class="border rounded p-2 m-1">

        <table class="table table-light text-center align-middle table-sm table-borderless">
            <thead class="thead-dark">
                <tr>

                    <th scope="col">
                        <b><span>Имя</span></b>
                    </th>

                    <th scope="col">
                        <b><span>Keyword</span></b>
                    </th>

                    <th scope="col">
                        <b><span>Доступна</span></b>
                    </th>

                    <th scope="col">
                        <b><span>Продукты</span></b>
                    </th>

                    <th scope="col">
                        <b><span>Подробнее</span></b>
                    </th>

                </tr>
            </thead>

            <tbody>
                @foreach (var collection in Model.Collections)
                {
                    <tr class="border-top">

                        <td scope="row" class="align-middle">
                            <b>@collection.Name</b>
                        </td>

                        <td class="align-middle">
                            <span>@collection.KeyWord</span>
                        </td>

                        <td class="align-middle">
                            @if (@collection.Available)
                            {
                                <span class="text-success"> Вкл. </span>
                            }
                            else
                            {
                                <span class="text-danger"> Выкл. </span>
                            }
                        </td>

                        <td class="align-middle">
                            <span>@collection.ProductCount</span>
                        </td>

                        <td class="font-weight-normal align-right text-right">
                            @Html.ActionLink("Подробнее", "CompanyCollection", new { collectionId = collection.Id }, new { @class = "btn btn-outline-primary" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

