﻿@model AdminProductCollectionFullModel

@{
    ViewData["Title"] = "Коллекция";
}

@using (Html.BeginForm("ChangeCollection", "marketplace"))
{
    @Html.Hidden("id", Model.Id)

<div class="border rounded p-2 m-2">
    <div class="row m-2">
        <div class="col-lg-3"><b>Id:</b></div>
        <div class="col-lg-2">@Model.Id</div>
    </div>
    <div class="row m-2">
        <div class="col-lg-3"><b>Имя:</b></div>
        <div class="col-lg-2">@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })</div>
    </div>
    <div class="row m-2">
        <div class="col-lg-3"><b>Keyword:</b></div>
        <div class="col-lg-2">@Model.KeyWord</div>
    </div>
    <div class="row m-2">
        <div class="col-lg-3"><b>Включен:</b></div>
        <div class="col-lg-2">@Html.CheckBoxFor(m => m.Available, new { @class = "form-control" })</div>
    </div>
    <input type="submit" value="Сохранить" class="btn btn-outline-primary m-2" />
</div>
}

<h6>Товары: </h6>

<div class="container-fluid">
    <div class="border rounded p-2 m-1">
        <span><b>Всего товаров:</b></span>
        <span>@(Model.Products != null ? @Model.Products.Count : 0)</span>
        <br />
        <br />
    </div>
    <table class="table table-light text-center align-middle table-sm table-borderless">
        <thead class="thead-dark">
            <tr>

                <th scope="col">
                    <b><span>ID</span></b>
                </th>

                <th scope="col">
                    <b><span>Имя</span></b>
                </th>

            </tr>
        </thead>

        <tbody>
            @if (Model.Products != null)
            {
            @foreach (var p in Model.Products)
            {
                <tr class="border-top">

                    <td scope="row" class="align-middle">
                        <b>@p.ProductId</b>
                    </td>

                    <td class="font-weight-normal align-middle">
                        @p.Name
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>
</div>

