﻿@model CompanyModel

@{
    ViewData["Title"] = Model.Name;
}

@using (Html.BeginForm("ModifyCompany", "marketplace"))
{
    @Html.Hidden("id", Model.Id)

<div class="border rounded p-2 m-2">
    <div class="row m-2">
        <div class="col-lg-3"><b>Имя:</b></div>
        <div class="col-lg-2">@Html.TextBox("name", Model.Name)</div>
    </div>
    <div class="row m-2">
        <div class="col-lg-3"><b>Сайт:</b></div>
        <div class="col-lg-2">@Html.TextBox("url", Model.Url)</div>
    </div>
    <div class="row m-2">
        <div class="col-lg-3"><b>Почта:</b></div>
        <div class="col-lg-2">@Html.TextBox("email", Model.Email)</div>
    </div>
    <div class="row m-2">
        <div class="col-lg-3"><b>Юридическое название:</b></div>
        <div class="col-lg-2">@Html.TextBox("legalname", Model.LegalName)</div>
    </div>
    <br />
    <div class="row m-2">
        <div class="col-lg-10">Информация о контактоном лице:</div>
    </div>
    <div class="row m-2">
        <div class="col-lg-3"><b>Имя:</b></div>
        <div class="col-lg-2">@Html.TextBox("contactpersonname", Model.ContactPersonName)</div>
    </div>
    <div class="row m-2">
        <div class="col-lg-3"><b>Контактный телефон:</b></div>
        <div class="col-lg-2">@Html.TextBox("contactpersonphone", Model.ContactPersonPhone)</div>
    </div>
    <div class="row m-2">
        <div class="col-lg-3"><b>Контактная почта:</b></div>
        <div class="col-lg-2">@Html.TextBox("contactpersonemail", Model.ContactPersonEmail)</div>
    </div>

    <br />
    <div class="row m-2">
        <div class="col-lg-3"><b>Информация о доставке:</b></div>
        <div class="col-lg-5">@Html.TextBox("deliveryinfo", Model.DeliveryInfo)</div>
    </div>

    <br />
    <div class="row m-2">
        <div class="col-lg-3"><b>Не поддерживает промокод:</b></div>
        <div class="col-lg-5">@Html.CheckBox("dontsupportpromocode", Model.DontSupportPromocode)</div>
    </div>

    <br />
    <div class="row m-2">
        <div class="col-lg-3"><b>Тип партнера:</b></div>
    </div>
    <div class="row m-2">
        <ul>
            <li>
                @Html.CheckBox("HasFurniture", Model.HasFurniture)
                <label for="1">Мебель</label>
            </li>

            <li>
                @Html.CheckBox("HasDesignFurniture", Model.HasDesignFurniture)
                <label for="2">Дизайнерская мебель</label>
            </li>

            <li>
                @Html.CheckBox("HasMaterials", Model.HasMaterials)
                <label for="3">Отделочные материалы</label>
            </li>

            <li>
                @Html.CheckBox("HasElectric", Model.HasElectric)
                <label ifr="4">Электроника</label>
            </li>
        </ul>
    </div>

    <div class="row m-2">
        <div class="col-lg-3"><b>Информация о доставке:</b></div>
        <div class="col-lg-5">@Html.TextBox("deliveryinfo", Model.DeliveryInfo)</div>
    </div>

    <br />
    <div class="row m-2">
        <div class="col-lg-3"><b>Приоритет товара дня:</b></div>
        <div class="col-lg-5">@Html.TextBox("dailyproductpriority", Model.DailyProductPriority)</div>
    </div>

    <br />
    <div class="row m-2">
        <div class="col-lg-3"><b>Ссылка на автофид:</b></div>
        <div class="col-lg-5">@Html.TextBox("FeedUrl", Model.FeedUrl)</div>
    </div>

    <div class="row m-1">
        <div class="col-lg-3">
            @if (Model.AutoLoadFeed == true)
            {
                @Html.ActionLink("Отключить автозагрузку", "DisableAutoFeed", new { id = Model.Id }, new { @class = "btn btn-danger" })
            }
            else
            {
                @Html.ActionLink("Включить автозагрузку", "EnableAutoFeed", new { id = Model.Id }, new { @class = "btn btn-success" })
            }
        </div>
    </div>
    <br />

    <div class="row m-2">
        <div class="col-lg-3"><b>Статус фида:</b></div>
        @if (Model.CompanyLastFeedModel != null)
        {
            var feedsource = Model.CompanyLastFeedModel.Source == YMLDownloadSource.AutoFeed ? "Ссылки" : "Файла";
            var feedTime = Model.CompanyLastFeedModel.LastFeedStatusChangeTime.AddHours(3).ToString("dd.MM.yy HH:mm");
            if (Model.CompanyLastFeedModel.LastFeedStatus == YMLUpdateTaskStatus.Pending || Model.CompanyLastFeedModel.LastFeedStatus == YMLUpdateTaskStatus.InProcess)
            {
                <span class="badge badge-primary">Фид: В РАБОТЕ с @feedTime из @feedsource</span>
            }
            else if (Model.CompanyLastFeedModel.LastFeedStatus == YMLUpdateTaskStatus.Succeeded)
            {
                <span class="badge badge-success">Фид: ОБНОВЛЕН в @feedTime из @feedsource</span>
            }
            else if (Model.CompanyLastFeedModel.LastFeedStatus == YMLUpdateTaskStatus.Failed)
            {
                <span class="badge badge-danger">Фид: ОШИБКА в @feedTime из @feedsource</span>
            }
        }
        else
        {
            <span class="badge badge-warning">Фид: НЕ ЗАГРУЖЕН</span>
        }
    </div>


    <br />
    <div class="row m-2">
        <div class="col-lg-3"><b>Статус:</b></div>
        @if (Model.IsEnabled == true)
        {
            <div class="col-lg-1">Включен</div>
        }
        else
        {
            <div class="col-lg-1">Отключен</div>
        }
    </div>

    <br />
    <input type="submit" value="Сохранить" class="btn btn-outline-primary m-2" />
    @if (Model.IsEnabled == true)
    {
        @Html.ActionLink("Отключить", "DisableCompany", new { id = Model.Id }, new { @class = "btn btn-danger" })
    }
    else
    {
        @Html.ActionLink("Включить", "EnableCompany", new { id = Model.Id }, new { @class = "btn btn-success" })
    }
</div>
}

<div class="border rounded p-2 m-2">

</div>

<div class="border rounded p-2 m-2">
    <div class="row m-2">
        <div class="col-lg-10">Условия и комиссии:</div>
    </div>
    @for (int i = 0; i < Model.AdditionalNotes.Count; i++)
    {
        <div class="row m-2">
            @using (Html.BeginForm("SaveCompanyNotes", "marketplace"))
            {
                @Html.Hidden("noteId", i);
                @Html.Hidden("companyId", Model.Id);
                @Html.TextBox("newContent", Model.AdditionalNotes[i])
                <input type="submit" value="Сохранить" class="btn btn-outline-primary m-2" />
            }
            @using (Html.BeginForm("DeleteCompanyNote", "marketplace"))
            {
                @Html.Hidden("noteId", i);
                @Html.Hidden("companyId", Model.Id);
                <input type="submit" value="Удалить" class="btn btn-outline-primary m-2" />
            }
        </div>
    }
    @using (Html.BeginForm("AddCompanyNote", "marketplace"))
    {
        @Html.Hidden("companyId", Model.Id);
        @Html.TextBox("newContent", string.Empty)
        <input type="submit" value="Добавить" class="btn btn-outline-primary m-2" />
    }
</div>



<div class="border rounded p-2 m-2">
    <br />
    <div class="row lg-3">
        <div class="col-lg-2">
            <b>Всего:</b>
        </div>
        <div class="col-lg-2">
            @Model.AllProducts тов  /  @Model.AllCategories кат</>
        </div>
    </div>
    <br />
    <div class="row lg-3">
        <div class="col-lg-2">
            <b>Могут продаваться:</b>
        </div>
        <div class="col-lg-2">
            @Model.CanTradeProducts тов  /  @Model.CanTradeCategories кат
        </div>
    </div>
    <br />
    <div class="row lg-3">
        <div class="col-lg-2">
            <b>Продаются:</b>
        </div>
        <div class="col-lg-2">
            @Model.InTradeProducts тов  /  @Model.InTradeCategories кат
        </div>
    </div>
    @if (Model.ProductsNotInLeafs)
    {
        <div class="row lg-3">
            <div class="col-lg-2">
                <span class="badge badge-warning  text-right">Прод. в род. кат.</span>
            </div>
        </div>
    }
    <br />
    <div class="row lg-3">
        <div class="col-lg-2">
            <b>Не продаются:</b>
        </div>
        <div class="col-lg-2">
            @Model.NotInTradeProducts тов  /  @Model.NotInTradeCategories кат
        </div>
    </div>
    @if (Model.NotInTradeProducts > 0)
    {
        <div class="row lg-3">
            <div class="col-lg-2">
                <span class="badge badge-danger  text-right">Продукты без привязок к нашим категориям</span>
            </div>
        </div>
    }
    <br />
    <div class="row lg-3">
        <div class="col-lg-2">
            <b>Скидки:</b>
        </div>
        <div class="col-lg-2">
            @Model.SalesProducts тов  /  @Model.SalesCategories кат
        </div>
        <div class="col-lg-2">
            @{
                var minSale = @Model.MinSale.HasValue ? 100 - (int)(@Model.MinSale.Value) : 0;
                var maxSale = @Model.MaxSale.HasValue ? 100 - (int)(@Model.MaxSale.Value) : 0;
            }
            @minSale % --- @maxSale %
        </div>
    </div>
    <br />
    <span>@Html.ActionLink("Редактировать категории", "CompanyCategories", new { id = Model.Id }, new { @class = "btn btn-outline-primary" })</span>
    <br />
    <span>@Html.ActionLink("Просмотреть коллекции", "CompanyCollections", new { companyId = Model.Id }, new { @class = "btn btn-outline-primary" })</span>
    <br />
    <span>@Html.ActionLink("Скачать коллекции в CSV", "DownloadCollectionsCSV", new { companyId = Model.Id }, new { @class = "btn btn-warning" })</span>
    <br />
    <br />
</div>

    <form method="post" enctype="multipart/form-data" asp-controller="marketplace" asp-action="upload">
        <div class="d-inline-flex flex-column border border-primary rounded p-2">
            <div class="form-group">
                <div class="col-md-10">
                    <p><b>Загрузка YML</b></p>
                    <input type="file" name="file" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Загрузить" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </form>
