﻿@model CompanyCategoryHierarchyModel


<div class="col-lg-4">
    @for (var j = 0; j < Model.Depth; j++)
    {
        <span>---</span>
    }

    @Html.DisplayTextFor(x => x.Category.CompanyCategory)
</div>
<div class="col-lg-1">
    @if (Model.Category.BadCategoryBinding)
    {
        <span class="badge badge-warning">Плохо</span>
    }
    else if (Model.Category.Category == 0 && Model.Category.Products > 0)
    {
        <span class="badge badge-danger">Пропущено</span>
    }
</div>
<div class="col-lg-3">
    @Html.DropDownListFor(x => x.Category.Category, Model.Selector, new { @class = "category-selector" })
</div>
<div class="col-lg-2" style="width:250px;">
    @if (Model.Category.Products > 0)
    {
        <span><b>Товаров: </b></span>
        <span><b>@Model.Category.Products</b></span>
    }
</div>

<div class="col-lg-2">
    @Html.ActionLink("Все товары", "CategoryProductsList", "marketplace", new { companyId = Model.CompanyId, companyCategoryId = Model.Category.CompanyCategoryId }, new { @class = "btn btn-outline-primary" })
</div>

<!--
<br />
<br />

<div class="container-fluid" id="@("collapse" + Model.Category.CompanyCategoryId)">
    <div class="float-sm-right">
        <button type="button" class="btn btn-primary btn-sm" id="rooms-all">все</button>
        <button type="button" class="btn btn-primary btn-sm" id="rooms-none">ни одна</button>
        @foreach (var room in Model.Rooms)
        {
            <label><input type="checkbox" @(Model.Category.Rooms.Any(x => x.RoomNameId == room.RoomNameId) ? "checked=\"\"checked\"" : "") class="room-toggle" value="@room.RoomNameId" />@room.Name</label>
            <span>&nbsp;</span>

        }
    </div>
</div>
-->
