﻿@model Faradise.Design.Controllers.API.Models.Admin.Company.AdminCompanyCategoriesModel

@{
    ViewData["Title"] = "Переназначение категорий";
}

@foreach (var m in Model.Categories)
{
    <div id="@m.CompanyCategoryId" class="row border rounded vertical-align m-2 p-2 category">
        
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".category").each(function(index) {
                var id = $(this).attr("id");
                load(id);
            });
        });

        function load(id) {
            var url = 'categories/' + id;
            $.get(url, function (data) {
                var container = $('#' + id);
                container.html(data);

                $(container).find(".category-selector").change(function () {
                    mapCategory(id, this.value);
                });

                $(container).find("#rooms-all").on('click', function () {
                    checkRooms(id);
                });

                $(container).find("#rooms-none").on('click', function () {
                    uncheckRooms(id);
                });

                $(container).find('.room-toggle').each(function (entry) {
                    $(this).change(function (val) {
                        updateRoom(id, this.value, this.checked);
                    });
                });
            });
        };

        function mapCategory(companyCategoryId, categoryId) {
            var url = 'categories/map/' + companyCategoryId + '/' + categoryId;
            $.get(url, function (data) {
                var array = $.parseJSON(data);
                if (Array.isArray(array)) {
                    array.forEach(function (entry) {
                        load(entry);
                    });
                }
            });
        };

        function uncheckRooms(id) {
            var url = 'categories/' + id + '/remove-rooms';
            $.get(url, function (data) {
                load(id);
            });
        }

        function checkRooms(id) {
            var url = 'categories/' + id + '/add-rooms';
            $.get(url, function (data) {
                load(id);
            });
        }

        function updateRoom(id, roomId, checked) {
            var url = 'categories/' + id + '/update-room/' + roomId + '/' + checked;
            $.get(url, function (data) {
                load(id);
            });
        }
    </script>
}
