﻿@model CompaniesModel

@{
    ViewData["Title"] = "Партнёры";
}

<div class="container-fluid">
    <div class="border rounded p-2 m-1">
        <span><b>Всего компаний:</b></span>
        <span>@Model.TotalCompanies</span>
        <br />
        <span><b>Всего товаров:</b></span>
        <span>@string.Format("{0} / {1}", Model.MappedProducts, Model.TotalProducts)</span>
        <br />
        <br />
        <div class="row p-2 m-2">
            <div class="col-lg-2 text-center">
            @using (Html.BeginForm("CreateCompany", "marketplace"))
            {
                <input type="submit" class="btn btn-outline-primary" value="Добавить компанию" />
            }
            </div>
            <div class="col-lg-2 text-center">
                @Html.ActionLink("Показать индикаторы", "companylist", "marketplace", new { showAdditionalInfo = true }, new { @class = "btn btn-outline-primary" })
            </div>
        </div>
    </div>
    <table class="table table-light text-center align-middle table-sm table-borderless">
        <thead class="thead-dark">
            <tr>

                <th scope="col">
                    <b><span>ID</span></b>
                </th>

                <th scope="col">
                    <b><span>Партнёр</span></b>
                </th>

                <th scope="col">
                    <b><span>Товары</span></b>
                </th>

                <th scope="col">
                    <b><span>Категории</span></b>
                </th>

                <th scope="col">
                    <b><span>Статус</span></b>
                </th>

                <th scope="col">
                    <b><span></span></b>
                </th>

            </tr>
        </thead>

        <tbody>
        @foreach (var c in Model.Companies)
        {
        <tr class="border-top">

            <td scope="row" class="align-middle" rowspan='2'>
                <b>@c.Id</b>
            </td>

            <td class="font-weight-normal align-middle"  rowspan='2'>
                @c.Name
            </td>

            <td class="font-weight-normal align-middle"  rowspan='2'>
                @string.Format("{0} / {1}", c.MappedProducts, c.TotalProducts)
            </td>

            <td class="font-weight-normal align-middle"  rowspan='2'>
                @string.Format("{0} / {1}", c.MappedCategories, c.TotalCategories)
            </td>

            <td class="font-weight-normal">
                @if (c.IsEnabled == true)
                {
                    <span>Включен</span>
                }
                else
                {
                    <span>Отключен</span>
                }
            </td>

            <td class="font-weight-normal align-right text-right">
                @Html.ActionLink("Подробнее", "company", "marketplace", new { id = c.Id }, new { @class = "btn btn-outline-primary" })
            </td>            
            </tr>

            <tr>
                <td class="font-weight-normal" colspan="2">
                    @if (c.LastFeed != null)
                    {
                        var feedsource = c.LastFeed.Source == YMLDownloadSource.AutoFeed ? "Ссылки" : "Файла";
                        var feedTime = c.LastFeed.LastFeedStatusChangeTime.AddHours(3).ToString("dd.MM.yy HH:mm");
                        if (c.LastFeed.LastFeedStatus == YMLUpdateTaskStatus.Pending || c.LastFeed.LastFeedStatus == YMLUpdateTaskStatus.InProcess)
                        {
                                <span class="badge badge-primary  text-right">Фид: В РАБОТЕ с @feedTime из @feedsource</span>
                        }
                        else if (c.LastFeed.LastFeedStatus == YMLUpdateTaskStatus.Succeeded)
                        {
                                <span class="badge badge-success  text-right">Фид: ОБНОВЛЕН в @feedTime из @feedsource</span>
                        }
                        else if (c.LastFeed.LastFeedStatus == YMLUpdateTaskStatus.Failed)
                        {
                                <span class="badge badge-danger  text-right">Фид: ОШИБКА в @feedTime из @feedsource</span>
                        }
                    }
                    else
                    {
                        <span class="badge badge-warning  text-right">Фид: НЕ ЗАГРУЖЕН</span>
                    }
                    @if (c.NotInTradeCategories || c.MapNotToLeafCategories)
                    {
                        @if (c.NotInTradeCategories)
                        {
                                <br/><span class="badge badge-danger  text-right">Прод. без привязок</span>
                        }
                        @if (c.MapNotToLeafCategories)
                        {
                                <br/><span class="badge badge-warning  text-right">Прод. в род. кат.</span>
                        }
                    }
                </td> 
            </tr>

        }
        </tbody>
    </table>
</div>