﻿@model FindProductModel

@{
    ViewData["Title"] = "Поиск товаров";
}


<div class="border rounded p-2 m-2">

    @using (Html.BeginForm("SearchForProduct", "Marketplace", FormMethod.Post))
    {
        int id = 0;
        if (Model.Products.FirstOrDefault() != null)
        {
            id = Model.Products.FirstOrDefault().ProductId;
        }
        <input type="number" value="@id" name="id" />
        <input hidden="hidden" type="text" value="" name="vendorCode">
        <input type="submit" value="Найти по Id" />
    }

    <br />

    @using (Html.BeginForm("SearchForProduct", "Marketplace", FormMethod.Post))
    {
        string vendorCode = string.Empty;
        if (Model.Products.FirstOrDefault() != null)
        {
            vendorCode = Model.Products.FirstOrDefault().VendorCode;
        }
        <input hidden="hidden" type="number" value="0" name="id" />
        <input type="text" value="@vendorCode" name="vendorCode">
        <input type="submit" value="Найти по артикулу" />
    }

    @if (@Model != null && @Model.Products != null)
    {
        @foreach (var p in Model.Products)
        {
            @if (p.PhotoUrl != string.Empty)
            {
                <div class="row m-2">
                    <img height="250px" src="@p.PhotoUrl" alt="" />
                </div>
            }

            <div class="row m-2">
                <div class="col-lg-6"><b>ID: </b> @p.ProductId.ToString() </div>
            </div>
            <div class="row m-2">
                <div class="col-lg-6"><b>Имя: </b> @p.ProductName</div>
            </div>
            <div class="row m-2">
                <div class="col-lg-6"><b>Компания: </b> @p.CompanyName</div>
            </div>
            <div class="row m-2">
                <div class="col-lg-6"><b>Производитель: </b> @p.Vendor</div>
            </div>
            <div class="row m-2">
                <div class="col-lg-6"><b>Цена: </b> @p.ProductPrice</div>
            </div>

            <div class="row m-2">
                <div class="col-lg-6"><b>Артикул: </b> @p.VendorCode</div>
            </div>

            <div class="row m-2">
                <div class="col-lg-6"><b>Категория: </b> @p.CompanyCategoryName</div>
            </div>
            <div class="row m-2">
                <div class="col-lg-6">
                    @Html.ActionLink("Редактировать порядок картинок", "ImagesPriority", "Product", new { id = p.ProductId}, new { @class= "btn btn-outline-primary" })
                </div>
            </div>
            <div class="row m-2">
                @Html.DropDownList("Categories", Model.Selector, new { @onchange = $"changeCategory({p.ProductId}, this.value)" })
            </div>
            <div class="row m-2">
                <div class="col-lg-6">=============================================================</div>
            </div>
            <br />

        }
    }
</div>

@section scripts {
    <script type="text/javascript">

        function getXmlHttp() {
            var xmlhttp;
            try {
                xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                try {
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (E) {
                    xmlhttp = false;
                }
            }
            if (!xmlhttp && typeof XMLHttpRequest != 'undefined') {
                xmlhttp = new XMLHttpRequest();
            }
            return xmlhttp;
        }

        function changeCategory(id, val) {
            //console.log(id)
            //console.log(val)

            var xmlhttp = getXmlHttp(); // Создаём объект XMLHTTP
            xmlhttp.open('POST', '/marketplace/category/change-product-category', true); // Открываем асинхронное соединение
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
            xmlhttp.send("id=" + id
                + "&val=" + val); // Отправляем POST-запрос
            xmlhttp.onreadystatechange = function () { // Ждём ответа от сервера
            if (xmlhttp.readyState == 4) { // Ответ пришёл
                if (xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                    //document.getElementById(id).remove();
                    location.reload(true);
                }
            }
        };
        };
    </script>
}