﻿@model Faradise.Design.Controllers.API.Models.Tilda.TildaLotteryRequest[]

@{
    ViewData["Title"] = "Заявки";
}

<div class="row border rounded p-1 m-1">
    <div class="col-md-2 text-center">
        <b>Номер</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Имя</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Телефон</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Почта</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Создано</b>
    </div>
</div>

@foreach (var m in Model)
{
    <div class="row border rounded p-1 m-1">
        <div class="col-md-2 text-center">
            @m.Id
        </div>
        <div class="col-md-2 text-center">
            @m.Name
        </div>
        <div class="col-md-2 text-center">
            @m.Phone
        </div>
        <div class="col-md-2 text-center">
            @m.Email
        </div>
        <div class="col-md-2 text-center">
            @m.Created.ToString("dd-MM-yyyy hh:mm")
        </div>
    </div>
}

