﻿@model ModerationCountsModel

@{
    ViewData["Title"] = "Нейросеть";
}

<div class="row border rounded p-1 m-1">
    <div class="col-md-2 text-left">
        <b>Товаров без цвета</b>
    </div>
    <div class="col-md-2 text-center">
        <b>@Model.ProductWithoutColorCount</b>
    </div>
    <div class="col-lg-1 text-center">
        @Html.ActionLink("Исправить", "ModerationForm", new { type = "color" }, new { @class = "btn btn-outline-primary" })
    </div>
    
</div>

<div class="row border rounded p-1 m-1">
    <div class="col-md-2 text-left">
        <b>Товаров без рейтинга</b>
    </div>
    <div class="col-md-2 text-center">
        <b>@Model.ProductWithoutRatingCount</b>
    </div>
    <div class="col-lg-1 text-center">
        @Html.ActionLink("Исправить", "ModerationForm", new { type = "rating" }, new { @class= "btn btn-outline-primary" } )
    </div>
    
</div>