﻿@model ModerationFormModel

@{
    ViewData["Title"] = Model.Product.Name;
}

<style type="text/css">
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }    
</style>

<div class="card m-2">
    <div class="card-body">

        <div class="row">
            <div class="col-lg-4">
                <div id="carousel" class="carousel slide" data-ride="carousel" style="width: 360px;">
                    <div class="carousel-inner">
                        @for (var i = 0; i < Model.Product.PhotoUrls.Length; i++)
                        {
                            var cs = "carousel-item";
                            @if (i == 0)
                            {
                                cs = "carousel-item active";
                            }

                            <div class="@cs">
                                <img style="width: 100%; max-height: 300px; object-fit: contain" class="d-block w-100" src="@Model.Product.PhotoUrls[i]" alt="@Model.Product.PhotoUrls[i]">
                            </div>
                        }

                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <textarea class="col-lg-6" id="description">@Model.Product.Description</textarea>
        </div>

        <br />

        <div class="row">
            <div class="col-lg-2"><b>Выберите цвет: </b></div>
            <div class="col-lg-10">
                <div class="row">
                    @foreach (var color in Model.Colors)
                    {
                        @if (Model.Product.MarketplaceColors.FirstOrDefault(x => x == color.ColorId) != 0)
                        {
                    <div class="col-lg-2">
                        <input type="checkbox" class="color" value="@color.ColorId" checked> @color.Name
                        <div style="background-color:@color.Hex;">@color.Hex</div>
                    </div>
                        }
                        else
                        {
                    <div class="col-lg-2">
                        <input type="checkbox" class="color" value="@color.ColorId"> @color.Name
                        <div style="background-color:@color.Hex;">@color.Hex</div>
                    </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="row p-1 m-2">
            <div class="col-lg-auto">
                <input type="button" class="btn btn-outline-success" value="Треш" onclick="sendForm(0)" />
            </div>
            <div class="col-lg-auto">
                <input type="button" class="btn btn-outline-success" value="Нормас" onclick="sendForm(1)" />
            </div>
            <div class="col-lg-auto">
                <input type="button" class="btn btn-outline-success" value="Хорошо" onclick="sendForm(2)" />
            </div>
            <div class="col-lg-auto">
                <input type="button" class="btn btn-outline-success" value="Можно показывать в избранном" onclick="sendForm(3)" />
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    /* Данная функция создаёт кроссбраузерный объект XMLHTTP */
    function getXmlHttp() {
        var xmlhttp;
        try {
            xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (e) {
            try {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (E) {
                xmlhttp = false;
            }
        }
        if (!xmlhttp && typeof XMLHttpRequest != 'undefined') {
            xmlhttp = new XMLHttpRequest();
        }
        return xmlhttp;
    }
    function sendForm(button) {

        var color = [];
        var rad = document.getElementsByClassName('color');
        for (var i = 0; i < rad.length; i++) {
            if (rad[i].checked) {
                color.push(rad[i].value);
            }
        }

        var description = $('#description').val();


        var xmlhttp = getXmlHttp(); // Создаём объект XMLHTTP
        xmlhttp.open('POST', '/marketplace/moderationsetproduct', true); // Открываем асинхронное соединение
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
        xmlhttp.send("type=" + encodeURIComponent('@Model.Type')
            + "&description=" + encodeURIComponent(description)
            + "&colorId=" + encodeURIComponent(JSON.stringify(color))
            + "&rating=" + encodeURIComponent(button)
            + "&productId=" + encodeURIComponent('@Model.Product.Id')); // Отправляем POST-запрос
        xmlhttp.onreadystatechange = function () { // Ждём ответа от сервера
            if (xmlhttp.readyState == 4) { // Ответ пришёл
                if (xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                    location.reload(false);
                }
            }
        };
    }
</script>