﻿@model Faradise.Design.Models.Marketplace.ProductsStats

@{
    ViewData["Title"] = "ProductsStats";
}

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Всего товаров</b>
    </div>
    <div class="col-lg-2">
        @Model.TotalProducts
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Имя</b>
    </div>
    <div class="col-lg-2">
        @Model.Name
    </div>
    <div class="col-lg-1">
        @(Model.Name/(float)Model.TotalProducts * 100)%
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Описание</b>
    </div>
    <div class="col-lg-2">
        @Model.Description
    </div>
    <div class="col-lg-1">
        @(Model.Description/(float)Model.TotalProducts * 100)%
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Скидка</b>
    </div>
    <div class="col-lg-2">
        @Model.PreviousPrice
    </div>
    <div class="col-lg-1">
        @(Model.PreviousPrice/(float)Model.TotalProducts * 100)%
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Ссылка</b>
    </div>
    <div class="col-lg-2">
        @Model.Url
    </div>
    <div class="col-lg-1">
        @(Model.Url/(float)Model.TotalProducts * 100)%
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Взять из магазина</b>
    </div>
    <div class="col-lg-2">
        @Model.Pickup
    </div>
    <div class="col-lg-1">
        @(Model.Pickup/(float)Model.TotalProducts * 100)%
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Доставка (есть \ нет)</b>
    </div>
    <div class="col-lg-2">
        @Model.Delivery
    </div>
    <div class="col-lg-1">
        @(Model.Delivery/(float)Model.TotalProducts * 100)%
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Параметры доставки</b>
    </div>
    <div class="col-lg-2">
        @Model.DeliveryOptions
    </div>
    <div class="col-lg-1">
        @(Model.DeliveryOptions/(float)Model.TotalProducts * 100)%
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Производитель</b>
    </div>
    <div class="col-lg-2">
        @Model.Vendor
    </div>
    <div class="col-lg-1">
        @(Model.Vendor/(float)Model.TotalProducts * 100)%
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Гарантия (есть \ нет)</b>
    </div>
    <div class="col-lg-2">
        @Model.Warranty
    </div>
    <div class="col-lg-1">
        @(Model.Warranty/(float)Model.TotalProducts * 100)%
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Страна производства</b>
    </div>
    <div class="col-lg-2">
        @Model.Origin
    </div>
    <div class="col-lg-1">
        @(Model.Origin/(float)Model.TotalProducts * 100)%
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Размер</b>
    </div>
    <div class="col-lg-2">
        @Model.Size
    </div>
    <div class="col-lg-1">
        @(Model.Size/(float)Model.TotalProducts * 100)%
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Заметки</b>
    </div>
    <div class="col-lg-2">
        @Model.Notes
    </div>
    <div class="col-lg-1">
        @(Model.Notes/(float)Model.TotalProducts * 100)%
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Картинки</b>
    </div>
    <div class="col-lg-2">
        @Model.Pictures
    </div>
    <div class="col-lg-1">
        @(Model.Pictures/(float)Model.TotalProducts * 100)%
    </div>
</div>

<div class="row vertical-align p-2 m-2">
    <div class="col-lg-3">
        <b>Цвет</b>
    </div>
    <div class="col-lg-2">
        @Model.Colors
    </div>
    <div class="col-lg-1">
        @(Model.Colors / (float)Model.TotalProducts * 100)%
    </div>
</div>

