﻿@model RoomNameModel[]

@{
    ViewData["Title"] = "Наименование комнат для фильтра";
}

<div class="row border rounded p-1 m-1">
    <div class="col-md-1 text-center">
        <b>RoomNameId</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Название комнаты</b>
    </div>

</div>
@foreach (var room in Model)
{
    <div class="row border rounded p-1 m-1">
        <div class="col-md-1 text-center">
            <b>@room.RoomNameId</b>
        </div>
        <div class="col-md-2 text-center">
            <b>@room.Name</b>
        </div>
        @using (Html.BeginForm("EditRoomName", "marketplace"))
        {
            @Html.HiddenFor(x => room.RoomNameId)
            <div class="col-lg-2">
                @Html.TextBoxFor(x => room.Name)
            </div>
            <div class="col-lg-1 text-center">
                <input type="submit" class="btn btn-outline-primary" value="Изменить название" />
            </div>
        }
    </div>
}

    <div class="card m-2">
        @using (Html.BeginForm("AddRoomName", "Marketplace", FormMethod.Post))
        {
            <input type="text" name="room" />
            <input type="submit" value="Добавить" />
        }
    </div>
