﻿@using Faradise.Design.Controllers.API.Models.Marketplace;
@model UserSavedBasketsModel

@{
    ViewData["Title"] = "Поиск товаров";
}


<div class="border rounded p-2 m-2">

    @using (Html.BeginForm("SaveBaskets", "Marketplace", FormMethod.Post))
    {
        int userId = 0;
        <input type="number" value="@userId" name="userId" />
        <input hidden="hidden" type="text" value="" name="vendorCode">
        <input type="submit" value="Найти по UserId" />
    }

    <br />


    @if (@Model != null && @Model.UserId != 0)
    {
        @foreach (var p in Model.Baskets)
        {

            <div class="row m-2">
                <div class="col-lg-6"><b>ID: </b> @p.Id </div>
            </div>
            <div class="row m-2">
                <div class="col-lg-6"><b>Ссылка: </b> @p.Link</div>
            </div>
            <div class="row m-2">
                <div class="col-lg-6"><b>Просмотры: </b></div>
            </div>
            @foreach (var view in p.Views)
            {
            <div class="row m-2">
                <div class="col-lg-6"><b>UserId: </b> @view.UserId</div>
                <div class="col-lg-6"><b>Количество просмотров: </b> @view.ViewsCount</div>
            </div>

            }
            
            <br />

        }
    }
</div>

@section scripts {
    <script type="text/javascript">

        
    </script>
}