﻿@model UploadResultModel

@{
    ViewData["Title"] = "Подтверждение загрузки";
}

@if (Model.ValidationReport.Valid)
{
    <span>
        <b>Имя партнёра из файла: </b>
    </span>
    <span>@Model.Company</span>
    <br/>
    <span>
        <b>Загружено категорий: </b>
    </span>
    <span>@Model.Categories</span>
    <br/>
    <span>
        <b>Загружено товаров: </b>
    </span>
    <span>@Model.Products</span>

    <br/>
    <br/>

    <div class="row p-0">
        <div class="p-0">
            @using (Html.BeginForm("AcceptUpload", "marketplace", new {id = Model.CompanyId, upload = Model.Upload}, FormMethod.Post, null, new {@class = "col-md-10"}))
            {
                <input type="submit" class="btn btn-outline-success" value="Принять изменения"/>
            }
        </div>
        <div class="p-0">
            @using (Html.BeginForm("RejectUpload", "marketplace", new {id = Model.CompanyId, upload = Model.Upload}, FormMethod.Post, null, new {@class = "col-md-10"}))
            {
                <input type="submit" class="btn btn-outline-danger" value="Отклонить изменения"/>
            }
        </div>
    </div>
}
else
{
    @Html.ActionLink("Назад", "Company", @Model.CompanyId)
    <div class="p-0" style="margin-top: 20px">
        <div class="p-0">
            <h4 style="margin-left: 10px">Файл не соответствует спецификации</h4>
            <br/>
            <ul>

                @foreach (var message in Model.ValidationReport.Messages)
                {
                    <li style="margin-left: 10px">
                        <b>@message</b>
                    </li>
                }
            </ul>
        </div>
        @if (Model.ValidationReport.InvalidFields.Any())
        {
            <ul class="nav nav-tabs">
                @foreach (var column in Model.ValidationReport.InvalidFields)
                {
                    <li>
                        <a data-toggle="tab" href="#@column.Key">@column.Key</a>
                        &nbsp;
                    </li>
                }
            </ul>
            <div class="tab-content">
                @foreach (var column in Model.ValidationReport.InvalidFields)
                {
                    <div id="@column.Key" class="tab-pane fade">
                        <h3>@column.Key</h3>
                        <ul>
                            @foreach (var cell in column.Value)
                            {
                            <li>
                                Строка @cell.RowIndex &nbsp;:&nbsp; @cell.Reason
                            </li>
                            }
                        </ul>
                    </div>
                }
            </div>
            }
    </div>
}