﻿@model YMLUploadTaskModel[]

@{
    ViewData["Title"] = "Очередь на обновление";
}

<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-lg-3">
        <b>Всего : @Model.Length шт.</b>
    </div>
</div>

<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-md-1 text-center">
        <b>ID</b>
    </div>
    <div class="col-md-2 text-center">
        <b>ID компании</b>
    </div>
    <div class="col-md-1 text-center">
        <b>Приоритет</b>
    </div>
    <div class="col-md-3 text-center">
        <b>Время создания</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Метки</b>
    </div>
    <div class="col-md-4 text-center">
        <b></b>
    </div>
</div>

@foreach (var m in Model)
{
    <div class="row border rounded p-1 m-1 vertical-align">
        <div class="col-md-1 text-center">
            @m.TaskId
        </div>
        <div class="col-md-2 text-center">
            @m.CompanyId
        </div>
        <div class="col-md-1 text-center">
            @m.Priority
        </div>
        <div class="col-md-3 text-center">
            @m.CreationTime.AddHours(3)
        </div>
        <div class="col-md-2 text-center">
            @if (m.Status == YMLUpdateTaskStatus.Failed)
            {
                <span class="badge badge-danger">Неудача</span>
                <a class="btn btn-danger" data-toggle="collapse" href="#collapse_@m.TaskId" role="button" aria-expanded="false" aria-controls="collapse_@m.TaskId">
                    ?
                </a>
            }
            else if (m.Status == YMLUpdateTaskStatus.InProcess)
            {
                <span class="badge badge-warning">Обрабатывается</span>
            }
            else if (m.Status == YMLUpdateTaskStatus.Succeeded)
            {
                <span class="badge badge-success">Выполнено</span>
            }
            else
            {
                <span class="badge badge-primary">В очереди</span>
            }
        </div>
        <div class="col-md-1 text-center">
            @using (Html.BeginForm("DeleteYMLUploadTask", "Marketplace", FormMethod.Post))
            {
                <input type="hidden" value="@m.TaskId" name="taskId" />
                <input type="submit" value="Удалить" />
            }
            </div>
        <div class="col-md-2 text-center">
            @using (Html.BeginForm("ProcessYMLUploadForced", "Marketplace", FormMethod.Post))
            {
                <input type="hidden" value="@m.TaskId" name="taskId" />
                <input type="submit" value="Перезапуск" />
            }
        </div>
    </div>

    if (m.Status == YMLUpdateTaskStatus.Failed)
    {
        <div class="collapse" id="collapse_@m.TaskId">
            <div class="card card-body">
                @m.FailMessage
            </div>
        </div>
    }
}

<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-lg-3">
        <b>Всего : @Model.Length шт.</b>
    </div>
</div>