﻿@model YmlValidationModel

@{
    ViewData["Title"] = "Проверка файлов YML";
}

<form method="post" enctype="multipart/form-data" asp-controller="marketplace" asp-action="downloadymlfile">
    <div class="d-flex flex-column border border-primary rounded p-2">
        <div class="form-group">
            <div class="col-md-20">
                <p><b>Загрзука по ссылке файла YML</b></p>
                <input class="form-control input-lg" type="text" name="url" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Загрузить" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</form>

@if (Model != null && Model.ParseFailed)
{
    <br />
    <br />
    <span class="badge badge-danger">Ошибка загрузки</span>
}

<br />
<br />

<form method="post" enctype="multipart/form-data" asp-controller="marketplace" asp-action="checkfile">
    <div class="d-inline-flex flex-column border border-primary rounded p-2">
        <div class="form-group">
            <div class="col-md-20">
                <p><b>Проверка файла YML</b></p>
                <input type="file" name="file" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Проверить" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</form>

<br />
<br />

@if (Model != null && Model.ParseFailed)
{
    <span class="badge badge-danger">Неверный формат файла</span>
    <br />
    <br />
}

@if (Model != null && Model.YmlModel != null)
{
    <span><b>Имя партнёра из файла: </b></span>
    <span>@Model.YmlModel.Company</span>
    <br />
    <span><b>Загружено категорий: </b></span>
    <span>@Model.YmlModel.Categories</span>
    <br />
    <span><b>Загружено товаров: </b></span>
    <span>@Model.YmlModel.Products</span>
}

