﻿@model ModifyCategoryCompilationModel
@{
    ViewData["Title"] = "Акции по категориям";
}


@using (Html.BeginForm("ModifyCategoryCompilation", "admincompilation"))
{
    @Html.Hidden("id", Model.Id)

    <div class="border rounded p-2 m-2">
        <div class="row m-2">
            <div class="col-lg-1"><b>Имя:</b></div>
            <div class="col-lg-2">@Html.TextBox("name", Model.Name)</div>
        </div>
    </div>

    <br />
    <input type="submit" value="Сохранить" class="btn btn-outline-primary m-2" />

    <div class="row border rounded p-2 m-2 vertical-align">
        <div class="col-lg-4 text-left">
            <b><span>Имя</span></b>
        </div>

        <div class="col-lg-2 text-center">
            <b><span>Выбрано</span></b>
        </div>
    </div>

    @for (var i = 0; i < Model.Categories.Length; i++)
    {

        @Html.HiddenFor(x => Model.Categories[i].Category.Id)
        @Html.HiddenFor(x => Model.Categories[i].Category.Name)
        @Html.HiddenFor(x => Model.Categories[i].Category.ParentId)

        <div class="row border rounded p-2 m-2 vertical-align">
            <div class="col-lg-4 text-left">


                @for (var j = 0; j < Model.Categories[i].Category.Depth; j++)
                {
                    <span>--</span>
                }

                @if (Model.Categories[i].Category.Depth > 0)
                {
                    <span>&nbsp;</span>
                }

                <span>@Model.Categories[i].Category.Name</span>
            </div>

            <div class="col-lg-2 text-center">
                @Html.CheckBoxFor(x => Model.Categories[i].IsSelected)
            </div>
        </div>
    }
}

