﻿@model Faradise.Design.Controllers.API.Models.Compilations.CompilationListModel

@{
    ViewData["Title"] = "Акции";
}

<div class="container-fluid">
    <div class="border rounded p-2 m-1">

        <div class="row border rounded p-2 m-2 vertical-align">

            <div class="col-lg-1 text-center">
                <b><span>ID</span></b>
            </div>

            <div class="col-lg-4">
                <b><span>Имя</span></b>
            </div>

            <div class="col-lg-2">
                <b><span>Источник</span></b>
            </div>

        </div>

        @foreach (var c in Model.Compilations)
    {
        <div class="row border rounded p-2 m-2 vertical-align">

            <div class="col-lg-1 text-center">
                <b><span>@c.Id</span></b>
            </div>

            <div class="col-lg-4">
                <span>@c.Name</span>
            </div>

            <div class="col-lg-2">
                @Html.Partial("CompilationSourceBadge", c.Source)
            </div>

            @if (c.Source == CompilationSource.ProductList)
            {
            <div class="col-lg-2 text-center">
                @Html.ActionLink("Открыть", "ProductCompilation", "admincompilation", new { id = c.Id, source = c.Source }, new { @class = "btn btn-outline-primary" })
            </div>
            }
            else if (c.Source == CompilationSource.Categories)
            {
            <div class="col-lg-2 text-center">
                @Html.ActionLink("Открыть", "CategoryCompilation", "admincompilation", new { id = c.Id, source = c.Source }, new { @class = "btn btn-outline-primary" })
            </div>
            }

            <div class="col-lg-2 text-center">
                @using (Html.BeginForm("DeleteCompilation", "admincompilation", new { id = c.Id, source = c.Source}, FormMethod.Post, null, new { @class = "col-md-10" }))
                 {
                        <input type="submit" class="btn btn-outline-warning" value="Удалить" />
                    }
            </div>

        </div>
}

        <div class="row border rounded p-2 m-2 vertical-align">
                <div class="col-lg-3 text-center">
                @using (Html.BeginForm("CreateCompilation", "admincompilation", new { source = CompilationSource.Categories }, FormMethod.Post, null, new { @class = "col-md-10" }))
                {
                    <input type="submit" class="btn btn-outline-success" value="Создать для категорий" />
                }
                </div>
                <div class="col-lg-3 text-center">
                @using (Html.BeginForm("CreateCompilation", "admincompilation", new { source = CompilationSource.ProductList }, FormMethod.Post, null, new { @class = "col-md-10" }))
                {
                    <input type="submit" class="btn btn-outline-success" value="Создать для списка продуктов" />
                }
                </div>
            </div>
        </div>
</div>

