﻿@model ModifyProductCompilationModel

@{
    ViewData["Title"] = "Акция по списку продуктов";
}

@using (Html.BeginForm("ModifyProductCompilation", "admincompilation"))
{
    @Html.Hidden("id", Model.Id)

    <div class="border rounded p-2 m-2">
        <div class="row m-2">
            <div class="col-lg-1"><b>Имя:</b></div>
            <div class="col-lg-2">@Html.TextBox("name", Model.Name)</div>
        </div>
        <div class="row m-2">
            <div class="col-lg-1"><b>Продукты:</b></div>
            <div class="col-lg-2">@Html.TextAreaFor(Model => Model.ProductString, new { style = "width: 700px; height:400px;" })</div>
        </div>
        <br />
        <input type="submit" value="Сохранить" class="btn btn-outline-primary m-2" />
    </div>
}

@using (Html.BeginForm("ModifyCompilation", "admincompilation"))
{
    @Html.Hidden("id", Model.Id)

    <div class="border rounded p-2 m-2">
        <div class="row m-2">
            <div class="col-lg-1"><b>Перпарс:</b></div>
            <textarea id="parseData" style="width: 700px; height:400px;"></textarea>
        </div>
        <br />
        <input id="submitParse" type="submit" value="Распарсить в строку" class="btn btn-outline-info m-2" />
    </div>
}
<script>
    $(document).ready(function () {
        $("#submitParse").click(function (event) {

            event.preventDefault();
            var ob = $("#parseData");
            var data = document.getElementById("parseData").value + "";
            var array_split_sumbols = data.replace(new RegExp('(\n+|\t+|\r+|;+|,+)','g'), ";").replace(new RegExp(';+','g'), ";");
            $("#parseData").val(array_split_sumbols);
        });
    });
</script>

