﻿@model Faradise.Design.Controllers.API.Models.CorruptedPictures.CorruptedPartnersList

@{
    ViewData["Title"] = "Поврежденные изображения";
}

<div class="container-fluid">
    <div class="border rounded p-2 m-16">
        <ul>

            @foreach (var partner in Model.CorruptedPartners)
            {
                <li>
                    @partner.PartnerName
                    <ul>
                        @foreach (var product in partner.CorruptedProducts)
                        {
                            <li>
                                @product.ProductName (id:@product.ProductId)
                                <ul>
                                    @foreach (var url in product.CorruptedPictures)
                                    {
                                        <li>
                                            <a href="@url">
                                                @url
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>