﻿@model ChatModel

@{
    ViewData["Title"] = "Chat";
}
@*@Html.Partial("ProjectDescription", Model);*@

<style type="text/css">
    .mytext {
        border: 0;
        padding: 10px;
        background: whitesmoke;
    }

    .text {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

        .text > p:first-of-type {
            width: 100%;
            margin-top: 0;
            margin-bottom: auto;
            line-height: 13px;
            font-size: 12px;
        }

        .text > p:last-of-type {
            width: 100%;
            text-align: right;
            color: silver;
            margin-bottom: -7px;
            margin-top: auto;
        }

    .text-l {
        float: left;
        padding-right: 10px;
    }

    .text-r {
        float: right;
        padding-left: 10px;
    }

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        float: left;
        padding-right: 10px;
    }

    .macro {
        margin-top: 5px;
        width: 85%;
        border-radius: 5px;
        padding: 5px;
        display: flex;
    }

    .msj-rta {
        float: left;
        max-width: 446px;
        max-height: 50px;
        background: whitesmoke;
    }

    .msj {
        float: left;
        background: whitesmoke;
    }

    .msj-r {
        float: right;
        background: white;
    }

    .container {
        height: 600px;
    }

    .frame {
        background: #e0e0de;
        height: 450px;
        overflow-y: auto;
        padding: 0;
        flex-direction: column;
    }

        .frame > div:last-of-type {
            position: absolute;
            bottom: 5px;
            width: 100%;
            display: flex;
        }

    #chatul {
        width: 100%;
        list-style-type: none;
        padding: 10px;
        padding-bottom: 0px;
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        max-height: 450px;
    }

    .msj-rta:after {
        width: 0;
        height: 0;
        content: "";
        top: -5px;
        left: 14px;
        position: relative;
        border-style: solid;
        border-width: 13px 13px 0 0;
        border-color: whitesmoke transparent transparent transparent;
    }

    input:focus {
        outline: none;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #d4d4d4;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        color: #d4d4d4;
    }

    :-ms-input-placeholder { /* IE 10+ */
        color: #d4d4d4;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: #d4d4d4;
    }
</style>

<div class="container" style="height:500px">
    <div id="frame" class="col-sm-5 col-sm-offset-4 frame">
        <ul id="chatul"></ul>
    </div>
    <div>
        <div class="msj-rta macro" style="margin:auto">
            <div class="text text-r" style="background:whitesmoke !important">
                <input class="mytext" placeholder="Type a message" />
            </div>
        </div>
        <input type="file" id="myFileField" name="myFile" accept=".jpg, .jpeg, .png" />
    </div>
</div>

@section scripts {
    <script src="~/js/signalr.js"></script>
    <script type="text/javascript">

        var me = {};

        var you = {};

        var updateMessages = false;
        var updateMessagesCount = 10;

        var groupId = @Model.ProjectId;

        var clientId = 0;
        clientId = @Model.ClientId;
        var clientName = 'Client'; // заменить на Model.ClientName

        var designerId = 0;
        designerId = @Model.DesignerId;
        var designerName = 'Designer'; // заменить на Model.DesignerName

        var apiUrl = '';
        var chatUrl = '';
        var env = '@Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")';
        switch (env) {
            case 'Develop':
                apiUrl = 'http://localhost:3001';
                chatUrl = 'http://localhost:3003';
                break;
            case 'master':
                apiUrl = 'https://master.faradise.ru';
                chatUrl = 'https://master.faradise.ru/chat';
                break;
            case 'stable':
                apiUrl = 'https://stable.faradise.ru';
                chatUrl = 'https://stable.faradise.ru/chat';
                break;
            case 'staging':
                apiUrl = 'https://staging.faradise.ru';
                chatUrl = 'https://staging.faradise.ru/chat';
                break;
        }

        $("#myFileField")[0].addEventListener('change', SendPhoto);

        function formatDate(myDate) {
            var newDate = new Date(myDate);
            var options = {
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric'
            }
            return newDate.toLocaleString("ru", options);
        }

        function getName(id) {
            if (id == clientId)
                return clientName;
            else if (id == designerId)
                return designerId;
            else if (id < 0)
                return 'Admin';
            else
                return id;
        }

        function getAnotherMessage(id, text, links, date, messageId) {
            let linkstr = '';
            if (links != null && links != 'undefined') {
                for (var i = 0; i < links.length; i++) {
                    linkstr += '<img width="100%" src="' + links[i] + '" style="border-radius: 5px">'
                }
            }
            control = '<li style="width:100%" id="' + messageId + '">' +
                '<div class="msj macro">' +
                '<div class="text text-l">' +
                '<p1>' + getName(id) + '</p1>' +
                '<p>' + text + '</p>' +
                linkstr +
                '<p><small>' + date + '</small></p>' +
                '</div>' +
                '</div>' +
                '</li>';
            return control;
        }
        function getMyMessage(id, text, links, date, messageId) {
            let linkstr = '';
            if (links != null && links != 'undefined') {
                for (var i = 0; i < links.length; i++) {
                    linkstr += '<img width="100%" src="' + links[i] + '" style="border-radius: 5px">'
                }
            }
            control = '<li style="width:100%;" id="' + messageId + '">' +
                '<div class="msj-r macro">' +
                '<div class="text text-r">' +
                '<p1>' + getName(id) + '</p1>' +
                '<p>' + text + '</p>' +
                linkstr +
                '<p><small>' + date + '</small></p>' +
                '</div>' +
                '<div class="avatar" style="padding:0px 0px 0px 10px !important"></div>' +
                '</li>';
            return control;
        }
        //-- No use time. It is a javaScript effect.
        function insertChat(who, name, text, links, date, messageId, time = 0) {
            var control = "";

            if (who == "me") {
                control = getMyMessage(name, text, links, formatDate(date), messageId);
            } else {
                control = getAnotherMessage(name, text, links, formatDate(date), messageId);
            }
            setTimeout(
                function () {
                    $("#chatul").append(control);

                    $("#frame").animate({
                        scrollTop: $("#chatul")[0].scrollHeight
                    }, "fast");
                }, time);

        }

        function resetChat() {
            $("#chatul").empty();
        }

        $(".mytext").on("keyup", function (e) {
            if (e.which == 13) {
                var text = $(this).val();
                let links = [];
                let message = { Text: text, Links: links, GroupName: groupId };
                hubConnection.invoke('Send', message);
                $(this).val('');
            }
        });

        function SendPhoto() {
            if ($("#myFileField")[0].files != null) {
                var formData = new FormData();
                formData.append("Photo", $("#myFileField")[0].files[0]);
                formData.append("GroupName", groupId);

                var xhr = new XMLHttpRequest();

                xhr.open("POST", apiUrl + "/api/messenger/send-photo");
                xhr.setRequestHeader("token", "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiaWRlbnRpdHkiLCJpZCI6Ii0xIiwiZXhwIjoxNTQ2ODUyODM3LCJpc3MiOiJpc3N1ZXIiLCJhdWQiOiJteUFwcCJ9.WwVAcEvfhTehTNQnRsp7ROPEq4WQr4_RYpAV4rT-Ubk");

                xhr.onload = function () {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status === 200) {
                            var text = '';
                            let links = [JSON.parse(xhr.response).result];
                            let message = { Text: text, Links: links, GroupName: groupId };
                            hubConnection.invoke('Send', message);
                        }
                        else
                            alert(xhr.status);
                    }
                };

                xhr.send(formData);
                $("#myFileField").prop('value', null);
            }
        }

        setInterval(function () {
            if ($("#frame").scrollTop() == 0 && updateMessages == true) {
                var lastMessageId = $("#chatul").toArray()[0].children[0].id;
                hubConnection.invoke('LoadMessagesById', groupId, lastMessageId, updateMessagesCount);
                updateMessages = false;
            }
            else if ($("#frame").scrollTop() > 0 && updateMessages == false) {
                updateMessages = true;
            }
            }, 100);


        let hubUrl = chatUrl + '/chat';
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl(hubUrl)
            .configureLogging(signalR.LogLevel.Information)
            .build();

        hubConnection.start();

        hubConnection.on('Connected', function () {
            let token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiaWRlbnRpdHkiLCJpZCI6Ii0xIiwiZXhwIjoxNTQ2ODUyODM3LCJpc3MiOiJpc3N1ZXIiLCJhdWQiOiJteUFwcCJ9.WwVAcEvfhTehTNQnRsp7ROPEq4WQr4_RYpAV4rT-Ubk';
            hubConnection.invoke('Authorize', token);
            hubConnection.invoke('JoinGroup', groupId);
        });

        hubConnection.on('Error', function (message) {
            console.log(JSON.stringify(message));
            alert(message);
        });

        hubConnection.on('Joined', function (joinedGroupId) {
            if (joinedGroupId == groupId)
                hubConnection.invoke('LoadLastMessages', groupId, 0, updateMessagesCount)
         });

        hubConnection.on('Message', function (message) {
            if (message.senderId == -1) {
                insertChat("me", message.senderId, message.text, message.links, message.timeCreate, message.messageId);
            }
            else {
                insertChat("you", message.senderId, message.text, message.links, message.timeCreate, message.messageId);
            }
        });

        hubConnection.on('Messages', function (messages) {
            if (messages != null) {
                if ($("#chatul").toArray()[0].children.length == 0) {
                    for (var i = 0; i < messages.length; i++) {

                        var control = "";
                        var date = formatDate(new Date());

                        if (messages[i].senderId == -1) {
                            control = getMyMessage("Admin", messages[i].text, messages[i].links, formatDate(messages[i].timeCreate), messages[i].messageId);
                        } else {
                            control = getAnotherMessage(messages[i].senderId, messages[i].text, messages[i].links, formatDate(messages[i].timeCreate), messages[i].messageId);
                        }
                        $("#chatul").append(control);

                        if (i == messages.length - 1) {
                            $("#frame").animate({
                                scrollTop: $("#chatul")[0].scrollHeight
                            }, "fast");
                        }
                    }
                }
                else {
                    for (var i = messages.length - 1; i >= 0; i--) {

                        var control = "";
                        var date = formatDate(new Date());

                        if (messages[i].senderId == -1) {
                            control = getMyMessage("Admin", messages[i].text, messages[i].links, formatDate(messages[i].timeCreate), messages[i].messageId);
                        } else {
                            control = getAnotherMessage(messages[i].senderId, messages[i].text, messages[i].links, formatDate(messages[i].timeCreate), messages[i].messageId);
                        }
                        $("#chatul").prepend(control);
                    }

                }
            }
        });

    </script>
}

