﻿@model AdminProjectInfo[]

@{
    ViewData["Title"] = "Проекты - ждут дизайнера";
}

<div class="row border rounded p-1 m-1">
    <div class="col-lg-3">
        <b>Всего : @Model.Length шт.</b>
    </div>
</div>

<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-md-1 text-center">
        <b>ID</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Название</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Имя</b>
    </div>
    <div class="col-md-3 text-center">
        <b>Контакты</b>
    </div>
    <div class="col-md-1 text-center">
        <b>Назначено дизайнеров</b>
    </div>
    <div class="col-md-1 text-center">
        <b>Отклонено дизайнеров</b>
    </div>
    <div class="col-md-2 text-center align-self-end">

    </div>
</div>

@foreach (var m in Model)
{
<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-md-1 text-center">
        @m.Id
    </div>
    <div class="col-md-2 text-center">
        @m.Name
    </div>
    <div class="col-md-2 text-center">
        @m.ClientName
    </div>
    <div class="col-md-3 text-center">
        <span>@m.ClientPhone</span>
        <span>@m.ClientEmail</span>
    </div>
    <div class="col-md-1 text-center">
        <span>@m.AppointedDesigners</span>
    </div>
    <div class="col-md-1 text-center">
        <span>@m.RejectedDesigners</span>
    </div>
    <div class="col-md-2 align-self-end text-center">
        @Html.ActionLink("Подробнее", "description", new { id = m.Id }, new { @class = "btn btn-outline-primary" })
    </div>
</div>
}

<div class="row border rounded p-1 m-1">
    <div class="col-lg-3">
        <b>Всего : @Model.Length шт.</b>
    </div>
</div>

