﻿@model AdminProjectModel

@{
    ViewData["Title"] = Model.Name;
}

@Html.Partial("ProjectDescription", Model)


<div class="card m-2">
    <h5 class="card-header">Подбор дизайнера</h5>
    <div class="card-body">

        <div class="container-fluid alert alert-success m-1 p-3" role="alert">
            <p><b>@("Назначено: " + Model.AppointedDesignersCount)</b></p>
            <div class="row m-2 p-1 border rounded">
                <div class="col-lg-1 text-center">
                    <b>ID</b>
                </div>
                <div class="col-lg-2 text-center">
                    <b>Имя</b>
                </div>
                <div class="col-lg-2 text-center">
                    <b>Проектов в работе</b>
                </div>
                <div class="col-lg-2 text-center"></div>
            </div>

            @{
                var appointed = (DesignerShortListModel)ViewBag.Appointed;
                foreach (var d in appointed.Designers)
                {
                    <div class="row m-2 p-1 border rounded">
                        <div class="col-lg-1 text-center">
                            <b>@d.Id</b>
                        </div>
                        <div class="col-lg-2 text-center">
                            @(d.Name + " " + d.Surname)
                        </div>
                        <div class="col-lg-2 text-center">
                            @d.ProjectsInWorkCount
                        </div>
                        <div class="col-lg-2 text-center">
                            @Html.ActionLink("Подробнее...", "ready", "designer", new { id = d.Id })
                        </div>
                        <div class="col-lg-2 text-center">
                            @using (Html.BeginForm("removedesigner", "project", new { projectId = Model.Id, designerId = d.Id }))
                            {
                                <input type="submit" class="btn btn-outline btn-danger btn-sm" value="Удалить" />
                            }
                        </div>
                    </div>
                }
            }

        </div>

        <div class="container-fluid alert alert-danger m-1 p-3" role="alert">
            <p><b>@("Отклонено: " + Model.RejectedDesignersCount)</b></p>
            <div class="row m-2 p-1 border rounded">
                <div class="col-lg-1 text-center">
                    <b>ID</b>
                </div>
                <div class="col-lg-2 text-center">
                    <b>Имя</b>
                </div>
                <div class="col-lg-2 text-center"></div>
                <div class="col-lg-2 text-center">
                    <b>Причина отказа</b>
                </div>
            </div>

            @{
                var rejected = (DesignerRejectedShortListModel)ViewBag.Rejected;
                foreach (var d in rejected.Designers)
                {
            <div class="row m-2 p-1 border rounded">
                <div class="col-lg-1 text-center">
                    <b>@d.Id</b>
                </div>
                <div class="col-lg-2 text-center">
                    @(d.Name + " " + d.Surname)
                </div>
                <div class="col-lg-2 text-center">
                    @Html.ActionLink("Подробнее...", "display", "designer", new { id = d.Id })
                </div>
                <div class="col-lg-2 text-center">
                    @(d.RejectReason)
                </div>
            </div>
                }
            }
        </div>
        <div class="col-lg-5 text-center">
            @using (Html.BeginForm("notifypoolfinish", "project", new { id = Model.Id }))
            {
                 <input type="submit" class="btn btn-outline-success" value="Оповестить клиента о том, что дизайнеры подобраны" />
            }
         </div>
        <div class="container-fluid border rounded m-1 p-3" role="alert">
            <p><b>Варианты</b></p>
            <div class="row m-2 p-1 border rounded">
                <div class="col-lg-1 text-center">
                    <b>ID</b>
                </div>
                <div class="col-lg-2 text-center">
                    <b>Имя</b>
                </div>
                <div class="col-lg-1 text-center">
                    <b>В работе</b>
                </div>
                <div class="col-lg-1 text-center">
                    <b>Назначен</b>
                </div>
                <div class="col-lg-1 text-center">
                    <b>Отказов</b>
                </div>

                <div class="col-lg-2 text-center"></div>
                <div class="col-lg-1 text-center"></div>
            </div>

            @{
                var suitable = (DesignerShortListModel)ViewBag.Suitable;
                foreach (var d in suitable.Designers)
                {
                    <div class="row m-2 p-1 border rounded">
                        <div class="col-lg-1 text-center">
                            <b>@d.Id</b>
                        </div>
                        <div class="col-lg-2 text-center">
                            @(d.Name + " " + d.Surname)
                        </div>
                        <div class="col-lg-1 text-center">
                            @d.ProjectsInWorkCount
                        </div>
                        <div class="col-lg-1 text-center">
                            @d.AppointedProjectsCount
                        </div>
                        <div class="col-lg-1 text-center">
                            @d.RejectedProjectsCount
                        </div>
                        <div class="col-lg-2 text-center">
                            @Html.ActionLink("Подробнее", "display", "designer", new { id = d.Id }, new { @class = "btn btn-outline-primary" })
                        </div>
                        <div class="col-lg-1 text-center">
                            @using (Html.BeginForm("appoint", "project", new { projectId = Model.Id, designerId = d.Id }))
                            {
                                <input type="submit" class="btn btn-outline-success" value="Назначить" />
                            }
                        </div>
                    </div>
                }
            }
        </div>

    </div>
</div>