﻿@using Faradise.Design.Admin.Services;

@model AdminProjectInfo[]

@{
    ViewData["Title"] = "Проекты - в работе";
}

<div class="row border rounded p-1 m-1">
    <div class="col-lg-3">
        <b>Всего : @Model.Length шт.</b>
    </div>
</div>

<div class="row border rounded p-1 m-1">
    <div class="col-md-1 text-center">
        <b>ID</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Имя</b>
    </div>
    <div class="col-md-1 text-center">
        <b>Дизайнер</b>
    </div>
    <div class="col-md-1 text-center">
        <b>Клиент</b>
    </div>
    <div class="col-md-1 text-center">
        <b>Стадия</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Шаг</b>
    </div>
    <div class="col-md-1 text-center">
        <b>Статус</b>
    </div>
    <div class="col-md-1 text-center">
        <b>Обновления</b>
    </div>
    <div class="col-md-1 text-center align-self-end">

    </div>
</div>

@foreach (var m in Model)
{
<div class="row border rounded p-1 m-1">
    <div class="col-md-1 text-center">
        @m.Id
    </div>
    <div class="col-md-2 text-center">
        @m.Name
    </div>
    <div class="col-md-1 text-center">
        @if (m.DesignerId != null)
        {
            @Html.ActionLink(m.DesignerId.ToString(), "ready", "designer", new { id = m.DesignerId })
        }
    </div>
    <div class="col-md-1 text-center">
        @if (m.ClientId != null)
        {
            @m.ClientId.ToString()
        }
    </div>
    <div class="col-md-1 text-center">
        @m.Stage.GetTranslation()
    </div>
    <div class="col-md-2 text-center">
        @switch (m.Stage)
        {
            case Faradise.Design.Models.ProjectStage.Preparetions:
                <span>@m.CooperateStage.GetTranslation()</span>
                break;
            case Faradise.Design.Models.ProjectStage.Development:
                <span>@m.DevelopmentStage.GetTranslation()</span>
                break;
        }
    </div>
    <div class="col-md-1 text-center">
        @Html.Partial("BadgeNeedHelp", m.NeedAdmin)
    </div>
    <div class="col-md-1 text-center">
        @Html.Partial("BadgeHasChanges", m.HasChangesAfterLastAdminCheck)
    </div>
    <div class="col-md-1 text-center align-self-end">
        @Html.ActionLink("Подробнее", "development", "project", new { id = m.Id }, new { @class = "btn btn-outline-primary" })
    </div>
    <div class="col-md-1 text-center align-self-end">
        @Html.ActionLink("Заказы" + (m.OrderCount > 0 ? "(" + m.OrderCount + ")" : string.Empty), "orderlistbyproject", "project", new { id = m.Id }, new { @class = "btn btn-outline-primary" })
    </div>
</div>
}

<div class="row border rounded p-1 m-1">
    <div class="col-lg-3">
        <b>Всего : @Model.Length шт.</b>
    </div>
</div>