﻿@model AdminProjectModel

@{
    ViewData["Title"] = "Проект - " + Model.Name;
}
<div class="container-fluid m-1">
    <h5 class="card-header">Общая информация</h5>
    <br />
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Дизайнер</b></div>
        <div class="col-lg-2">@Html.ActionLink(Model.DesignerId.ToString(), "ready", "designer", new { id = Model.DesignerId })</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Клиент</b></div>
        <div class="col-lg-2">@Model.ClientId.ToString()</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Текущая стадия</b></div>
        <div class="col-lg-2">@Model.Stage.GetTranslation()</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Текущий этап</b></div>
        <div class="col-lg-2">
            @switch (Model.Stage)
            {
                case Faradise.Design.Models.ProjectStage.Preparetions:
                    <span>@Model.PreparationStage.GetTranslation()</span>
                    break;
                case Faradise.Design.Models.ProjectStage.Development:
                    <span>@Model.DevelopmentStage.GetTranslation()</span>
                    break;
            }
        </div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Статус</b></div>
        <div class="col-lg-1">@Html.Partial("BadgeNeedHelp", Model.NeedAdmin)</div>
        <div class="col-lg-1">@Html.Partial("BadgeHasChanges", Model.HasChangesAfterLastAdminCheck)</div>
    </div>
    <br />
    <div class="row p-1 m-2">
        <div class="col-lg-auto">
            @Html.ActionLink("Открыть чат", "chat", "project", new { id = Model.Id }, new { @class = "btn btn-outline-primary" })
        </div>
        <div class="col-lg-auto">
            @using (Html.BeginForm("MarkProjectViewed", "project", new { id = Model.Id }))
            {
                <input type="submit" class="btn btn-outline-warning" value="Пометить как просмотренный" />
            }
        </div>
        <div class="col-lg-auto">
            @using (Html.BeginForm("MarkProjectHelped", "project", new { id = Model.Id }))
            {
                <input type="submit" class="btn btn-outline-success" value="Пометить как обработанный" />
            }
        </div>
        <div class="col-lg-auto">
            @using (Html.BeginForm("DeleteProject", "project", new { projectId = Model.Id }))
            {
            <input type="button" class="btn btn-outline-success" value="Удалить проект" onclick="return DeleteProject(this.form);" />
            }
        </div>
        <div class="col-lg-auto">
            @using (Html.BeginForm("DeleteUser", "project", new { userId = Model.ClientId }))
            {
            <input type="button" class="btn btn-outline-success" value="Удалить пользователя" onclick="return DeleteUser(this.form);" />
            }
        </div>
    </div>
    <br />
</div>

<script type="text/javascript">
    function DeleteProject(form) {
        var isOk = confirm("Вы уверены что хотите удалить проект?");
        if (isOk == true) {
            form.submit();
        }
    }

    function DeleteUser(form) {
        var deleteText = prompt('Вы уверены что хотите удалить пользователя? Если да, то введите слово УДАЛИТЬ', '');
        if (deleteText === 'УДАЛИТЬ') {
            var isOk = confirm("Вы точно уверены?");
            if (isOk == true) {
                form.submit();
            }
        }
        else{
            alert("Не удалено!");
        }
    }
</script>

<div class="container-fluid m-1">
    <div class="card">
        <h5 class="card-header" data-toggle="collapse" href="#collapse-description" role="button" aria-expanded="true" aria-controls="collapse-description">
            Описание проекта
        </h5>
        <div class="collapse" id="collapse-description">
            <div class="card card-body">
                @Html.Partial("ProjectDescription", Model)
            </div>
        </div>
    </div>
</div>

<div class="container-fluid m-1">
    <div class="card">
        <h5 class="card-header" data-toggle="collapse" href="#collapse-preparations" role="button" aria-expanded="false" aria-controls="collapse-preparations">
            Этап знакомства
        </h5>
        <div class="collapse" id="collapse-preparations">
            <div class="card card-body">
                @Html.Partial("ProjectPreparation", Model)
            </div>
        </div>
    </div>
</div>

<div class="container-fluid m-1">
    <div class="card">
        <h5 class="card-header" data-toggle="collapse" href="#collapse-development" role="button" aria-expanded="false" aria-controls="collapse-development">
            Этап работы над проектом
        </h5>
        <div class="collapse" id="collapse-development">
            <div class="card card-body">
                @Html.Partial("ProjectDevelopment", Model)
            </div>
        </div>
    </div>
</div>

<div class="container-fluid m-1">
    <div class="card">
        <h5 class="card-header" data-toggle="collapse" href="#collapse-vis" role="button" aria-expanded="false" aria-controls="collapse-vis">
            Комнаты, заказанные на визуализацию
        </h5>
        <div class="collapse" id="collapse-vis">
            <div class="card card-body">
                @Html.Partial("VisualizationList", Model.Visualizations)
            </div>
        </div>
    </div>
</div>

<div class="container-fluid m-1">
    <div class="card">
        <h5 class="card-header" data-toggle="collapse" href="#collapse-products" role="button" aria-expanded="false" aria-controls="collapse-products">
            Выбранные товары
        </h5>
        <div class="collapse" id="collapse-products">
            <div class="card card-body">
                @Html.Partial("ProductsList", Model.Products)
            </div>
        </div>
    </div>
</div>
