﻿@model FullProductProjectOrderModel

@{
    ViewData["Title"] = "Заказ " + Model.OrderId;
}
<div class="container-fluid m-1">
    <h5 class="card-header">Общая информация</h5>
    <br />
    @if (Model.PriceMissMatch)
    { 
    <div class="row p-1 m-2">
        <span class="badge badge-danger">Цена заказа была обновлена, посмотрите ее и переформируйте платеж</span>
    </div>
    }
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>ProjectId</b></div>
        <div class="col-lg-2">@Model.ProjectId</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Статус</b></div>
        @Html.Partial("BadgeOrderStatus", @Model.OrderStatus)
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Тип платежа</b></div>
        @Html.Partial("BadgePaymentMethod", @Model.PaymentMethod)
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Город</b></div>
        <div class="col-lg-2">@Model.City</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Имя</b></div>
        <div class="col-lg-2">@Model.Name</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Фамилия</b></div>
        <div class="col-lg-2">@Model.Surname</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Телефон</b></div>
        <div class="col-lg-2">@Model.Phone</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>E-mail</b></div>
        <div class="col-lg-2">@Model.Email</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Адрес</b></div>
        <div class="col-lg-2">@Model.Adress</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Описание</b></div>
        <div class="col-lg-2">@Model.Description</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Стоимость</b></div>
        <div class="col-lg-2">@Model.BasePrice</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Добавочная стоимость</b></div>
        <div class="col-lg-2">@Model.AdditionalPrice</div>
        @using (Html.BeginForm("AddCost", "Project", FormMethod.Post))
        {
            <input type="hidden" value="@Model.OrderId" name="orderId" />
            <input type="number" name="cost" />
            <input type="submit" value="Изменить" />
        }
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Cтоимость доставки</b></div>
        <div class="col-lg-2">@Model.DeliveryPrice</div>
        @using (Html.BeginForm("AddDeliveryCost", "Project", FormMethod.Post))
        {
            <input type="hidden" value="@Model.OrderId" name="orderId" />
            <input type="number" name="cost" />
            <input type="submit" value="Изменить" />
        }
    </div>
    <h5 class="card-header">Предметы в заказе</h5>
    <div class="row border rounded p-1 m-1">
        <div class="col-md-1 text-center">
            <b>ID продукта</b>
        </div>
        <div class="col-md-1 text-center">
            <b>ID комнаты</b>
        </div>
        <div class="col-md-2 text-center">
            <b>Количество</b>
        </div>

    </div>
    @foreach (var item in Model.Items)
    {
        <div class="row border rounded p-1 m-1">
            <div class="col-md-1 text-center">
                <b>@item.ProductId</b>
            </div>
            <div class="col-md-2 text-center">
                <b>@item.RoomId</b>
            </div>
            <div class="col-md-2 text-center">
                <b>@item.Count</b>
            </div>
            @using (Html.BeginForm("DeleteProduct", "Project", FormMethod.Post))
            {
                <input type="hidden" value="@Model.OrderId" name="orderId" />
                <input type="hidden" value="@item.RoomId" name="roomId" />
                <input type="hidden" value="@item.ProductId" name="productId" />
                <input type="number" name="count" />
                <input type="submit" value="Удалить указанное количество продуктов" />
            }
            <div class="col-md-1 text-center">
                <a href="https://faradise.ru/product/@item.ProductId">Ссылка</a>
            </div>
        </div>

    }
    <h5 class="card-header">Информация о платеже</h5>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Id платежа</b></div>
        <div class="col-lg-2">@Model.PaymentId</div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Статус оплаты</b></div>
        @if (Model.PaymentId == null)
        {
            <div class="col-lg-2">Не сформирован</div>
        }
        else
        {

            <div class="col-lg-2">@Model.PaymentStatus</div>
        }
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Ссылка на оплату</b></div>
        @if (Model.PlatformLink != null && Model.PlatformLink != string.Empty)
        {
            <div class="col-lg-5">@Model.PlatformLink</div>
        }
        else
        {
            <div class="col-lg-5">Не сформирована</div>
        }
        <br />
        <br />
        <div class="col-lg-2">
            @Html.ActionLink("Сформировать", "payment", "project", new { orderId = Model.OrderId }, new { @class = "btn btn-outline-primary" })
        </div>
    </div>
    <div class="row p-1 m-2">
        <div class="col-lg-2"><b>Дата создания заказа</b></div>
        <div class="col-lg-2">@Model.CreationTime.AddHours(3)</div>
    </div>
    <div class="navbar-text">
        @if (Model.PaymentMethod == PaymentMethod.YandexKassa || Model.PaymentMethod == PaymentMethod.Cash)
        {
            <div style="padding:20px;">
                @using (Html.BeginForm("MoveOrderToWork", "project", new { orderId = Model.OrderId, style = "padding: 10px;" }))
                {
                    <input type="submit" class="btn btn-outline-info" value="В работу" />
                }
            </div>
        }
        else if (Model.PaymentMethod == PaymentMethod.Tinkoff)
        {
            <div style="padding:20px;">
                @using (Html.BeginForm("SetCreditOrderToApproved", "Project", new { orderId = Model.OrderId, style = "padding: 10px;" }))
                {
                    <input type="submit" class="btn btn-outline-info" value="Кредит одобрили" />
                }
            </div>
            <div style="padding:20px;">
                @using (Html.BeginForm("SetCreditOrderToNotApproved", "Project", new { orderId = Model.OrderId, style = "padding: 10px;" }))
                {
                    <input type="submit" class="btn btn-outline-danger" value="Кредит не одобрили" />
                }
            </div>
            <div style="padding:20px;">
                @using (Html.BeginForm("MoveCreditOrderToWork", "Project", new { orderId = Model.OrderId, style = "padding: 10px;" }))
                {
                    <input type="submit" class="btn btn-outline-info" value="В работу" />
                }
            </div>
        }
        <div style="padding:20px;">
            @using (Html.BeginForm("CompleteProjectOrder", "Project", new { orderId = Model.OrderId, style = "margin: 10px;" }))
            {
                <input type="submit" class="btn btn-outline-warning" value="Завершить заказ" />
            }
        </div>
        <div style="padding:20px;">
            @using (Html.BeginForm("CancelProjectOrder", "Project", new { orderId = Model.OrderId, style = "margin: 10px;" }))
            {
                <input type="submit" class="btn btn-outline-danger" value="Отменить заказ" />
            }
        </div>
    </div>
</div>



