﻿@model ShortProductOrderModel[]

@{
    ViewData["Title"] = "Заказы";
}

<div class="row border rounded p-1 m-1">
    <div class="col-md-1 text-center">
        <b>ID заказа</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Статус</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Тип платежа</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Стоимость</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Полная стоимость</b>
    </div>
    <div class="col-md-3 text-center">
        <b>Дата создания</b>
    </div>
</div>

@foreach (var m in Model)
{
<div class="row border rounded p-1 m-1" href="project/order/@m.OrderId">
    <div class="col-md-1 text-center align-self-end">
        @Html.ActionLink(m.OrderId.ToString(), "order", "project", new { orderId = m.OrderId }, new { @class = "btn btn-outline-primary" })
    </div>
    <div class="col-md-2 text-center">
        @Html.Partial("BadgeOrderStatus", m.OrderStatus)
        @if (m.PaymentId != 0 && m.PaymentStatus == PaymentStatus.Canceled)
        {
            <span class="badge badge-danger">Платеж отменен</span>
        }
    </div>
    <div class="col-md-2 text-center">
        @Html.Partial("BadgePaymentMethod", m.PaymentMethod)
    </div>
    <div class="col-md-2 text-center">
        @m.BasePrice
    </div>
    <div class="col-md-2 text-center">
        (@m.BasePrice + @m.AdditionalPrice + @m.DeliveryPrice)
    </div>
    <div class="col-md-3 text-center">
        @m.CreationTime
    </div>

</div>
}