﻿@model AdminProjectProductModel[]

<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-md-3 text-center">
        <b>Ссылка</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Производитель</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Название комнаты</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Количество</b>
    </div>    
</div>

@foreach (var m in Model)
{
<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-md-3 text-center">
        <a href="https://faradise.ru/product/@m.Id">https://faradise.ru/product/@m.Id</a>
    </div>
    <div class="col-md-2 text-center">
        @m.Company
    </div>
    <div class="col-md-2 text-center">
        Комната - @m.RoomId - @m.RoomName.Localize()
    </div>
    <div class="col-md-2 text-center">
        @m.Count
    </div>
</div>
}