﻿@model FullVisualizationModel[]

@{
    ViewData["Title"] = "Информация по заказанным визуализациям";
}

<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-md-1 text-center">
        <b>ID команты</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Цена</b>
    </div>
    <div class="col-md-2 text-center">
        <b>Стадия оплаты</b>
    </div>
    <div class="col-md-1 text-center">
        <b>Есть</b>
    </div>
    <div class="col-md-3 text-center">
        <b>Код визуализации</b>
    </div>
    <div class="col-md-3 text-center">
        <b>Новый код визуализации</b>
    </div>
</div>

@foreach (var m in Model)
{
<div class="row border rounded p-1 m-1 vertical-align">
    <div class="col-md-1 text-center">
        @m.RoomId
    </div>
    <div class="col-md-2 text-center">
        @m.Price
    </div>
    <div class="col-md-2 text-center">
        @if (m.PaymentStatus != null)
        {
            @m.PaymentStatus;
        }
        else
        {
            <div>Нет платежа</div>;
        }
    </div>
    <div class="col-md-1 text-center">
        @m.IsComplete
    </div>
    <div class="col-md-3 text-center">
        @m.VisualizationCode
    </div>
    <div class="col-md-3 text-center">
        @using (Html.BeginForm("setvisualizationcode", "project", FormMethod.Post))
        {
            <input type="hidden" value="@m.ProjectId" name="ProjectId" />
            <input type="text" name="code" />
            <input type="submit" value="Загрузить" class="btn btn-default" />
        }
    </div>
</div>
}