﻿@model List<string>

@{
    ViewData["Title"] = "Партнёры";
}

<div class="container-fluid">

    @using (@Html.BeginForm("AddWord", "CollectionBlacklist", FormMethod.Post))
    {
        <input type="text" value="" name="word" />
        <input type="submit" value="Добавить" />
    }

    <div class="border rounded p-2 m-1">

        <table class="table table-light text-center align-middle table-sm table-borderless">
            <thead class="thead-dark">
                <tr>

                    <th scope="col">
                        <b><span>Слово</span></b>
                    </th>

                    <th scope="col">
                        <b><span>Удалить</span></b>
                    </th>

                </tr>
            </thead>

            <tbody>
                @foreach (var word in Model)
                {
                    <tr class="border-top">

                        <td scope="row" class="align-middle">
                            <b>@word</b>
                        </td>

                        <td class="font-weight-normal align-right text-right">
                            @using (@Html.BeginForm("RemoveWord", "CollectionBlacklist", FormMethod.Post))
                            {
                                <input type="hidden" value="@word" name="word" />
                                <input type="submit" value="Удалить" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>