﻿@model SelectDailyProductModel

@{
    ViewData["Title"] = "Товар дня";
}

<div class="container-fluid">

    <div class="row border rounded vertical-align m-2 p-2">

        <div class="col-lg-12">
            Приоритет товара  =  приоритет_компании * вес_компании + приоритет_категории * вес_категории + скидка * вес_скидки
        </div>
        <br />

    </div>
    <div class="row">
        @using (Html.BeginForm("RefreshPage", "DailyProduct"))
        {
            <div class="form-group-lg">
                <div class="col-lg-1">
                    вес_компании
                </div>
                <div class="col-lg-1">
                    @Html.TextBox("CompanyKoef", Model.CompanyKoef)
                </div>
            </div>
            <div class="form-group-lg">
                <div class="col-lg-1">
                    вес_категории
                </div>
                <div class="col-lg-1">
                    @Html.TextBox("CategoryKoef", Model.CategoryKoef)
                </div>
            </div>
            <div class="form-group-lg">
                <div class="col-lg-1">
                    вес_скидки
                </div>
                <div class="col-lg-1">
                    @Html.TextBox("SaleKoef", Model.SaleKoef)
                </div>
            </div>
            <br />
            @Html.Hidden("Page", Model.Page)
            <input type="submit" class="btn btn-success" value="Применить" />
        }
    </div>

    <br />
    <br />

    <div class="row border rounded vertical-align m-2 p-2">
        Продукт дня:
    </div>

    <div class="row border rounded vertical-align m-2 p-2">

        @if (Model.DailyProduct != null)
    {

        <div class="col-lg-2">
            Установлен : @Model.DailyProduct.OfferTime.AddHours(3).ToString("dd.MM.yy HH:mm")
        </div>

        <div class="col-lg-3">
            <img src="@Model.DailyProduct.Product.PhotoUrl" width="200px" />
        </div>

        <div class="col-lg-1">
            ID: @Html.ActionLink(Model.DailyProduct.Product.Id.ToString(), "ImagesPriority", "Product", new { id = Model.DailyProduct.Product.Id })
        </div>

        <div class="col-lg-1">
            @Model.DailyProduct.Product.Name
        </div>

        <div class="col-lg-1">
            @Model.DailyProduct.Product.Price
        </div>
        <div class="col-lg-1">
            @if (Model.DailyProduct.Product.PreviousPrice.HasValue)
            {
                <span>@((int)(100 - @Model.DailyProduct.Product.Price * 100.0f / @Model.DailyProduct.Product.PreviousPrice))%</span>
            } else { <span>0%</span> }
        </div>
        <div class="col-lg-1">
            @Model.DailyProduct.Product.PreviousPrice
        </div>

        <div class="col-lg-1">
            @Model.DailyProduct.Product.CompanyName
        </div>

        <div class="col-lg-1">
            <a href="https://faradise.ru/product/@Model.DailyProduct.Product.Id">Ссылка на товар</a>
        </div>
}
else
{
    <div class="col-lg-3">
        Не установлен
    </div>
}
    </div>

    <div class="row vertical-align m-2 p-2">
        @Html.ActionLink("Прошлые товары дня", "PreviousList", "DailyProduct", null, new { @class = "btn btn-outline-primary" })
    </div>

    <br />
    <br />

    <div class="row border rounded vertical-align m-2 p-2">
        <div class="col-lg-2">
            @using (Html.BeginForm("SetPage", "DailyProduct"))
            {
                <div class="form-group">
                    <label>Страница: </label>
                    <div class="col-lg-2">
                        @Html.TextBox("page", Model.Page)
                        @Html.Hidden("categorykoef", Model.CategoryKoef)
                        @Html.Hidden("companykoef", Model.CompanyKoef)
                        @Html.Hidden("salekoef", Model.SaleKoef)
                        <input type="submit" class="btn btn-info" value="Перейти" />
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-1">
            @using (Html.BeginForm("PrevPage", "DailyProduct"))
            {
                @Html.Hidden("CategoryKoef", Model.CategoryKoef)
                @Html.Hidden("CompanyKoef", Model.CompanyKoef)
                @Html.Hidden("SaleKoef", Model.SaleKoef)
                @Html.Hidden("Page", Model.Page)
                <input type="submit" class="btn btn-info" value="<" />
            }
        </div>
        <div class="col-lg-1">
            @using (Html.BeginForm("NextPage", "DailyProduct"))
            {
                @Html.Hidden("CategoryKoef", Model.CategoryKoef)
                @Html.Hidden("CompanyKoef", Model.CompanyKoef)
                @Html.Hidden("SaleKoef", Model.SaleKoef)
                @Html.Hidden("Page", Model.Page)
                <input type="submit" class="btn btn-info" value=">" />
            }
        </div>
    </div>

    <br/>

    <div class="row border rounded vertical-align m-2 p-2">
        <div class="col-lg-2">
            Фото
        </div>

        <div class="col-lg-1">
            ID
        </div>

        <div class="col-lg-2">
            Имя
        </div>

        <div class="col-lg-1">
            Цена
        </div>
        <div class="col-lg-1">
            Скидки
        </div>
        <div class="col-lg-1">
            Старая
        </div>

        <div class="col-lg-1">
            Партнёр
        </div>

        <div class="col-lg-1">
            Ссылка
        </div>
    </div>

    @foreach (var m in Model.PossibleProducts)
    {
        <div class="row border rounded vertical-align m-1 p-2">

            <div class="col-lg-2 text-center">
                <img src="@m.PhotoUrl" width="180px" />
            </div>

            <div class="col-lg-1">
                ID: @Html.ActionLink(m.Id.ToString(),"ImagesPriority", "Product", new { id = m.Id }) (@m.TotalPriority)
            </div>

            <div class="col-lg-2">
                @m.Name
            </div>

            <div class="col-lg-1">
                @m.Price
            </div>
            <div class="col-lg-1">
                @if (m.PreviousPrice.HasValue)
                {
                    <span>@((int)(100 - @m.Price * 100.0f / @m.PreviousPrice))%</span>
                } else { <span> 0% </span> }
            </div>
            <div class="col-lg-1">
                @m.PreviousPrice
            </div>

            <div class="col-lg-1">
                @m.CompanyName
            </div>

            <div class="col-lg-1">
                <a href="https://faradise.ru/product/@m.Id">Ссылка на товар</a>
            </div>

            @using (Html.BeginForm("SelectProduct", "DailyProduct"))
            {
                @Html.Hidden("CategoryKoef", Model.CategoryKoef)
                @Html.Hidden("CompanyKoef", Model.CompanyKoef)
                @Html.Hidden("SaleKoef", Model.SaleKoef)
                @Html.Hidden("Page", Model.Page)
                @Html.Hidden("SelectedId", m.Id)

                <div class="col-lg-1">
                    <input type="submit" class="btn btn-success" value="Выбрать" />
                </div>
            }
        </div>
    }
    <div class="row border rounded vertical-align m-2 p-2">
        <div class="col-lg-2">
            @using (Html.BeginForm("SetPage", "DailyProduct"))
            {
                <div class="form-group">
                    <label>Страница: </label>
                    <div class="col-lg-2">
                        @Html.TextBox("page", Model.Page, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.Hidden("categorykoef", Model.CategoryKoef)
                        @Html.Hidden("companykoef", Model.CompanyKoef)
                        @Html.Hidden("salekoef", Model.SaleKoef)
                        <input type="submit" class="btn btn-info" value="Перейти" />
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-1">
            @using (Html.BeginForm("PrevPage", "DailyProduct"))
            {
                @Html.Hidden("CategoryKoef", Model.CategoryKoef)
                @Html.Hidden("CompanyKoef", Model.CompanyKoef)
                @Html.Hidden("SaleKoef", Model.SaleKoef)
                @Html.Hidden("Page", Model.Page)
                <input type="submit" class="btn btn-info" value="<" />
            }
        </div>
        <div class="col-lg-1">
            @using (Html.BeginForm("NextPage", "DailyProduct"))
            {
                @Html.Hidden("CategoryKoef", Model.CategoryKoef)
                @Html.Hidden("CompanyKoef", Model.CompanyKoef)
                @Html.Hidden("SaleKoef", Model.SaleKoef)
                @Html.Hidden("Page", Model.Page)
                <input type="submit" class="btn btn-info" value=">" />
            }
        </div>
    </div>
</div>