﻿@model DailyProductModel[]

@{
    ViewData["Title"] = "Прошлые товары дня";
}

<div class="container-fluid">

    <div class="row border rounded vertical-align m-2 p-2">
        <div class="col-lg-1">
            Время установки
        </div>
        <div class="col-lg-2">
            Фото
        </div>

        <div class="col-lg-1">
            ID
        </div>

        <div class="col-lg-2">
            Имя
        </div>

        <div class="col-lg-1">
            Цена
        </div>
        <div class="col-lg-1">
            Скидки
        </div>
        <div class="col-lg-1">
            Старая
        </div>

        <div class="col-lg-1">
            Партнёр
        </div>
        <div class="col-lg-1">
            Ссылка
        </div>
    </div>

    @foreach (var m in Model)
    {
        <div class="row border rounded vertical-align m-1 p-2">

            <div class="col-lg-1">
                @m.OfferTime.AddHours(3).ToString("dd.MM.yy HH:mm")
            </div>

            <div class="col-lg-2 text-center">
                <img src="@m.Product.PhotoUrl" width="180px" />
            </div>

            <div class="col-lg-1">
                ID: @Html.ActionLink(m.Product.Id.ToString(), "ImagesPriority", "Product", new { id = m.Product.Id })
            </div>

            <div class="col-lg-2">
                @m.Product.Name
            </div>

            <div class="col-lg-1">
                @m.Product.Price
            </div>
            <div class="col-lg-1">
                @if (m.Product.PreviousPrice.HasValue)
                {
                    <span>@((int)(100 - @m.Product.Price * 100.0f / @m.Product.PreviousPrice))%</span>
                } else { <span>0%</span> }
            </div>
            <div class="col-lg-1">
                @m.Product.PreviousPrice
            </div>

            <div class="col-lg-1">
                @m.Product.CompanyName
            </div>

            <div class="col-lg-1">
                <a href="https://faradise.ru/product/@m.Product.Id">Ссылка на товар</a>
            </div>
        </div>
    }
</div>