﻿@model DesignerModel

@{
    ViewData["Title"] = "Заявка";
}

<img src="@Model.PhotoLink" alt="Фото" class="img-rounded border rounded m-2 p-2" style="width: 240px;" />

<div class="card m-2">
    <h5 class="card-header">Базовая информация</h5>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-2"><b>Имя: </b></div>
            <div class="col-lg-2">@Model.Base.Name</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Фамилия: </b></div>
            <div class="col-lg-2">@Model.Base.Surname</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Пол: </b></div>
            <div class="col-lg-2">@Model.Base.Gender</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Возраст: </b></div>
            <div class="col-lg-2">@Model.Base.Age</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Город: </b></div>
            <div class="col-lg-2">@Model.Base.City</div>
        </div>

        <br/>

        <div class="row">
            <div class="col-lg-2"><b>Телефон: </b></div>
            <div class="col-lg-2">@Model.Phone</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Почта: </b></div>
            <div class="col-lg-2">@Model.Base.Email</div>
        </div>
    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">Рабочая информация</h5>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-2"><b>Опыт работы: </b></div>
            <div class="col-lg-2">@Model.Base.WorkExperience</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Портфолио: </b></div>
            <div class="col-lg-2">@Model.PortfolioLink</div>
        </div>
    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">Стили</h5>
    <div class="card-body">
        @foreach (var s in Model.Styles)
        {
            <div class="row">
                <div class="col-lg-2"><b>@s.Name</b></div>
            </div>
        }
    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">О себе</h5>
    <div class="card-body">
        <span>@Model.Base.About</span>
    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">Тестовое задание</h5>
    <div class="card-body">
        <span>@Model.TestJob.TestLink</span>
    </div>
</div>

<div class="row m-2">

    @using (Html.BeginForm("apply", "designer", new { id = Model.Id, level = DesignerLevel.Novice }))
    {
        <input type="submit" class="btn btn-outline-success p-4 m-2" value="Новичок" style="width: 240px;" />
    }

    @using (Html.BeginForm("apply", "designer", new { id = Model.Id, level = DesignerLevel.Specialist }))
    {
        <input type="submit" class="btn btn-outline-success p-4 m-2" value="Специалист" style="width: 240px;" />
    }

    @using (Html.BeginForm("apply", "designer", new { id = Model.Id, level = DesignerLevel.Professional }))
    {
        <input type="submit" class="btn btn-outline-success p-4 m-2" value="Профессионал" style="width: 240px;" />
    }

    @using (Html.BeginForm("reject", "designer", new { id = Model.Id }))
    {
        <input type="submit" class="btn btn-outline-danger p-4 m-2" value="В печь" style="width: 240px;" />
    }

</div>
