﻿@model DesignerInfo[]

@{
    ViewData["Title"] = "Дизайнеры - прошли тест и не заполнили информацию";
}

<div class="row border rounded p-1 m-1">
    <div class="col-lg-3">
        <b>Всего : @Model.Length шт.</b>
    </div>
</div>

<div class="row border rounded m-2 p-2">
    <div class="col-lg-1 text-center">
        <b>ID</b>
    </div>

    <div class="col-lg-2 text-center">
        <b>Имя</b>
    </div>

    <div class="col-lg-2 text-center">
        <b>Проектов в работе</b>
    </div>

    <div class="col-lg-2 text-center">
        <b>Отказов</b>
    </div>
    <div class="col-lg-2 text-center">
        <b>E-mail</b>
    </div>
    <div class="col-lg-2 text-center">
        <b>Телефон</b>
    </div>

    <div class="col-lg-2 text-center"></div>
</div>

@foreach (var m in Model)
{
<div class="row border rounded m-2 p-2">
    <div class="col-lg-1 text-center">
        @m.Id
    </div>

    <div class="col-lg-2 text-center">
        @(m.Name + " " + m.Surname)
    </div>

    <div class="col-lg-2 text-center">
        @m.ProjectsInWorkCount
    </div>

    <div class="col-lg-2 text-center">
        @m.RejectedProjectsCount
    </div>
    <div class="col-lg-2 text-center">
        @m.Email
    </div>
    <div class="col-lg-2 text-center">
        @m.Phone
    </div>




</div>
}

<div class="row border rounded p-1 m-1">
    <div class="col-lg-3">
        <b>Всего : @Model.Length шт.</b>
    </div>
</div>