﻿@model DesignerModel

@{
    ViewData["Title"] = Model.Id + "  -  " + Model.Base.Name + " " + Model.Base.Surname;
}

<img src="@Model.PhotoLink" alt="Фото" class="img-rounded border rounded m-2 p-2" style="width: 240px;" />

<div class="card m-2">
    <h5 class="card-header">Базовая информация</h5>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-1"><b>Город: </b></div>
            <div class="col-lg-2">@Model.Base.City</div>
        </div>

        <div class="row">
            <div class="col-lg-1"><b>Пол: </b></div>
            <div class="col-lg-2">@Model.Base.Gender</div>
        </div>

        <div class="row">
            <div class="col-lg-1"><b>Возраст: </b></div>
            <div class="col-lg-2">@Model.Base.Age</div>
        </div>

        <div class="row">
            <div class="col-lg-1"><b>Проекты: </b></div>
            <div class="col-lg-2">
                @foreach (var project in (int[])ViewBag.Projects)
                {                    
                    <span>@Html.ActionLink(project.ToString(), "development", "project", new { id = project.ToString() })</span>
                    <br />
                }
            </div>
        </div>
    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">Контактная информация</h5>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-1"><b>Телефон: </b></div>
            <div class="col-lg-2">@Model.Phone</div>
        </div>

        <div class="row">
            <div class="col-lg-1"><b>Почта: </b></div>
            <div class="col-lg-2">@Model.Base.Email</div>
        </div>
    </div>
</div>


<div class="card m-2">
    <h5 class="card-header">Юридическая информация</h5>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-2"><b>Тип: </b></div>
            <div class="col-lg-2">@Model.LegalModel.LegalType</div>
        </div>

        @if (Model.LegalModel.LegalType == Faradise.Design.Models.LegalType.Personal)
        {
            <div class="row">
                <div class="col-lg-2"><b>Имя: </b></div>
                <div class="col-lg-2">@Model.LegalModel.PersonalLegalInfo.Name</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Фамилия: </b></div>
                <div class="col-lg-2">@Model.LegalModel.PersonalLegalInfo.Surname</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Отчество: </b></div>
                <div class="col-lg-2">@Model.LegalModel.PersonalLegalInfo.MiddleName</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Телефон: </b></div>
                <div class="col-lg-2">@Model.LegalModel.PersonalLegalInfo.Phone</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Почта: </b></div>
                <div class="col-lg-2">@Model.LegalModel.PersonalLegalInfo.Email</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Серия и номер паспорта: </b></div>
                <div class="col-lg-2">@Model.LegalModel.PersonalLegalInfo.PassportSeries</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Паспорт выдан: </b></div>
                <div class="col-lg-2">@Model.LegalModel.PersonalLegalInfo.PassportIssuedBy</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Дата выдачи: </b></div>
                <div class="col-lg-2">@Model.LegalModel.PersonalLegalInfo.DateOfIssue</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Код отделения: </b></div>
                <div class="col-lg-2">@Model.LegalModel.PersonalLegalInfo.DepartmentCode</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Адрес прописки: </b></div>
                <div class="col-lg-2">@Model.LegalModel.PersonalLegalInfo.RegistrationAddress</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Адрес проживания: </b></div>
                <div class="col-lg-2">@Model.LegalModel.PersonalLegalInfo.ActualAddress</div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-2"><b>Адрес проживания: </b></div>
                <div class="col-lg-2">@Model.LegalModel.CompanyLegalInfo.Name</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>ОГРН (или ОГРНИП): </b></div>
                <div class="col-lg-2">@Model.LegalModel.CompanyLegalInfo.OGRN</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>ИНН: </b></div>
                <div class="col-lg-2">@Model.LegalModel.CompanyLegalInfo.INN</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>КПП: </b></div>
                <div class="col-lg-2">@Model.LegalModel.CompanyLegalInfo.KPP</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Банк: </b></div>
                <div class="col-lg-2">@Model.LegalModel.CompanyLegalInfo.BankName</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Расчетный счет: </b></div>
                <div class="col-lg-2">@Model.LegalModel.CompanyLegalInfo.CheckingAccount</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>БИК: </b></div>
                <div class="col-lg-2">@Model.LegalModel.CompanyLegalInfo.BIC</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>Исп. ед. орган: </b></div>
                <div class="col-lg-2">@Model.LegalModel.CompanyLegalInfo.SoleExecutiveBody</div>
            </div>

            <div class="row">
                <div class="col-lg-2"><b>ФИО исп. ед. органа: </b></div>
                <div class="col-lg-2">@Model.LegalModel.CompanyLegalInfo.NameSoleExecutiveBody</div>
            </div>
        }

    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">Рабочая информация</h5>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-2"><b>Уровень в Faradise: </b></div>
            <div class="col-lg-2">@Model.Level</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Опыт работы: </b></div>
            <div class="col-lg-2">@Model.Base.WorkExperience</div>
        </div>

        <div class="row">
            <div class="col-lg-2"><b>Ссылка на портфолио: </b></div>
            <div class="col-lg-2">@Model.PortfolioLink</div>
        </div>
    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">О себе</h5>
    <div class="card-body">
        <span>@Model.Base.About</span>
    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">Стили</h5>
    <div class="card-body">

        @foreach (var s in Model.Styles)
        {
            <span><b>@s.Name</b></span>
            <br />
            <span>@s.Description</span>
            <br />
            <br />
        }
    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">Возможности</h5>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-3"><b>Выезжать на место в своем городе: </b></div>
            <div class="col-lg-2">@Html.Partial("BoolBadge", Model.Possibilities.GoToPlaceInYourCity)</div>
        </div>

        <div class="row">
            <div class="col-lg-3"><b>Выезжать на место в другом городе: </b></div>
            <div class="col-lg-2">@Html.Partial("BoolBadge", Model.Possibilities.GoToPlaceInAnotherCity)</div>
        </div>

        <div class="row">
            <div class="col-lg-3"><b>Авторский надзор: </b></div>
            <div class="col-lg-2">@Html.Partial("BoolBadge", Model.Possibilities.PersonalСontrol)</div>
        </div>

        <div class="row">
            <div class="col-lg-3"><b>Очная встреча: </b></div>
            <div class="col-lg-2">@Html.Partial("BoolBadge", Model.Possibilities.PersonalMeeting)</div>
        </div>

        <div class="row">
            <div class="col-lg-3"><b>Skype-встреча: </b></div>
            <div class="col-lg-2">@Html.Partial("BoolBadge", Model.Possibilities.SkypeMeeting)</div>
        </div>

        <div class="row">
            <div class="col-lg-3"><b>Выезд и замер помещения: </b></div>
            <div class="col-lg-2">@Html.Partial("BoolBadge", Model.Possibilities.RoomMeasurements)</div>
        </div>

        <div class="row">
            <div class="col-lg-3"><b>Рабочие чертежи: </b></div>
            <div class="col-lg-2">@Html.Partial("BoolBadge", Model.Possibilities.Blueprints)</div>
        </div>

    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">Опросник</h5>
    <div class="card-body">
        @{
            var testing = (TestingViewModel)ViewBag.Testing;
        }
        @foreach (var q in Model.Testing.Questions)
        {
            <span><b>@testing.Questions[q.Index].Text</b></span>
            <br />
            <span>@testing.Questions[q.Index].Answers[q.Answer]</span>
            <br />
            <br />
        }
    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">Портфолио</h5>
    <div class="card-body">

        <div class="accordion" id="accordion_p">

            @foreach (var p in Model.Portfolio.Portfolios)
            {
                var id = "car_" + p.Id;
                var c_id = "c_" + p.Id;
                var h_id = "head_" + p.Id;

                <div class="card">

                    <div class="card-header" id="@h_id">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@c_id" aria-expanded="true" aria-controls="@c_id">
                                @p.Name
                            </button>
                        </h5>
                    </div>

                    <div id="@c_id" class="collapse p-3" aria-labelledby="@h_id" data-parent="#accordion_p">

                        <p>@p.Description</p>

                        <div id="@id" class="carousel slide" data-ride="carousel" style="width: 360px;">
                            <div class="carousel-inner">
                                @for (var i = 0; i < p.PhotoLinks.Length; i++)
                                {
                                    var cs = "carousel-item";
                                    @if (i == 0)
                                    {
                                        cs = "carousel-item active";
                                    }

                                    <div class="@cs">
                                        <img class="d-block w-100" src="@p.PhotoLinks[i].PhotoLink" alt="@p.PhotoLinks[i].Id">
                                    </div>
                                }

                            </div>
                            <a class="carousel-control-prev" href="#@id" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#@id" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                </div>

            }

        </div>
    </div>
</div>