﻿@model AuthenticationModel

@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<form asp-action="Login" asp-controller="AdminAuthentication" method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Name">Введите логин</label>
            <input type="text" asp-for="Name" name="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" name="Password" type="password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn" />
        </div>
    </div>
</form>

